@keyframes icon-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\e90b';
}
.carousel-control .icon-next:before {
  content: '\e90d';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ea511b;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
.site-nav {
  background-color: #eeeeee;
  position: relative;
  height: 35px;
}
.site-nav ul {
  display: inline-block;
  margin: 0;
}
.site-nav ul li {
  float: left;
}
.site-nav a {
  display: block;
  width: auto;
  height: 35px;
  color: #989898;
  padding-left: 14px;
  padding-right: 14px;
  background-color: transparent;
  font: 17px "Arial";
  line-height: 35px;
  text-align: center;
  border: none;
  display: inline;
  text-decoration: none;
}
.site-nav a:hover {
  color: #ea511b;
}
.site-nav .c-select,
.site-nav .d-select {
  position: relative;
}
.site-nav .sn-left li {
  float: left;
  border-bottom: none;
}
.site-nav .c-panel,
.site-nav .d-panel {
  border-top: none;
  display: none;
  position: absolute;
  top: 35px;
  left: -1px;
  z-index: 30;
  background-color: #eeeeee;
}
.site-nav .c-panel li,
.site-nav .d-panel li {
  border: none;
}
.site-nav .c-panel a,
.site-nav .d-panel a {
  font-size: 14px;
  color: #000;
}
.site-nav .c-panel {
  width: 200px;
}
.site-nav .d-panel {
  display: block;
  width: 312px;
  display: none;
  z-index: 9999;
}
.site-nav .d-panel:before,
.site-nav .d-panel:after {
  content: " ";
  display: table;
}
.site-nav .d-panel:after {
  clear: both;
}
.site-nav .d-panel ul {
  float: left;
}
.site-nav .d-panel ul .fl {
  vertical-align: middle;
}
.site-nav .d-panel .curr-gj {
  display: inline-block;
  width: 40px;
  height: 22px;
  background: url(../images/flg.jpg);
}
.site-nav .c-select:hover .c-panel {
  display: inline-block;
}
.site-nav .c-select:hover .country {
  color: #ea511b;
}
.site-nav .c-select:hover a:hover {
  color: #ea511b;
}
.site-nav .c-select:hover .icon-ctr-bottom {
  display: inline-block;
  transform-origin: 50% 70%;
  animation: icon-rotate 0.2s;
  animation-fill-mode: forwards;
}
.site-nav .d-select:hover .d-panel {
  display: inline-block;
}
.site-nav .d-select:hover .curr-code {
  color: #ea511b;
}
.site-nav .d-select:hover a:hover {
  color: #ea511b;
}
.site-nav .d-select:hover .icon-ctr-bottom {
  display: inline-block;
  transform-origin: 50% 70%;
  animation: icon-rotate 0.2s;
  animation-fill-mode: forwards;
}
.site-nav .icon-coin-dollar {
  font-size: 25px;
  color: #ea511b;
}
.site-nav .flg {
  display: inline-block;
  width: 40px;
  height: 22px;
  background: url(../images/flg.jpg) center;
}
.site-nav .sn-right {
  float: right;
}
.site-nav .icon-coin-dollar,
.site-nav .flg {
  position: relative;
  top: 4px;
}
.top-banner {
  width: 1200px;
  height: 80px;
  margin: auto;
  overflow: hidden;
}
.top-banner img {
  width: 100%;
  height: 100%;
}
.header {
  width: 1200px;
  margin: 10px auto 0 auto;
}
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header .logo {
  width: 200px;
  height: 60px;
  float: left;
}
.header .h-right {
  float: right;
}
.header .h-right:before,
.header .h-right:after {
  content: " ";
  display: table;
}
.header .h-right:after {
  clear: both;
}
.header .search {
  float: left;
  width: 652px;
  height: 80px;
  overflow: hidden;
}
.header .search:before,
.header .search:after {
  content: " ";
  display: table;
}
.header .search:after {
  clear: both;
}
.header .s-input {
  width: 558px;
  height: 36px;
  border: 1px solid #ea511b;
  float: left;
  text-indent: 10px;
}
.header .s-input:focus {
  outline: 0;
}
.header .s-submit {
  float: left;
  display: block;
  width: 90px;
  height: 40px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  background-color: #ea511b;
  font: 17px "Arial";
  line-height: 40px;
  text-align: center;
  border: none;
}
.header .s-submit:focus {
  outline: 0;
}
.header .s-hot {
  height: 25px;
  width: 100%;
  overflow: hidden;
}
.header .s-hot li:first-child {
  font: 16px Arial;
  font-size: 16px;
  color: #bfbfbe;
  line-height: 25px;
  font-weight: 700;
}
.header .s-hot a {
  font: 16px Arial;
  font-size: 16px;
  color: #bfbfbe;
  line-height: 30px;
  font-weight: 500;
}
.header .cart {
  float: left;
  width: 90px;
  height: 40px;
  position: relative;
}
.header .cart .icon-cart {
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.header .cart .count {
  font: 16px Arial;
  font-size: 14px;
  color: #bfbfbe;
  line-height: 1em;
  font-weight: 500;
  background-color: #ea511b;
  color: #fff;
  display: block;
  min-width: 26px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  right: 16px;
  top: 10px;
}
.header .cart .cart-p {
  position: absolute;
  right: 16px;
  top: 30px;
  font: 16px Arial;
  font-size: 14px;
  color: #bfbfbe;
  line-height: 1em;
  font-weight: 500;
}
.header .finder {
  position: relative;
  float: left;
}
.header .finder a {
  display: block;
  width: 198px;
  height: 40px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  background-color: #ea511b;
  font: 17px "Arial";
  line-height: 40px;
  text-align: center;
  border: none;
  text-decoration: none;
}
.header .finder a:hover i {
  display: inline-block;
  transform-origin: 50% 70%;
  animation: icon-rotate 0.2s;
  animation-fill-mode: forwards;
}
.header .finder .panel {
  width: 196px;
  height: 500px;
  position: absolute;
  top: 40px;
  left: 0;
  border: 1px solid #ea511b;
  background-color: #fff;
  z-index: 100;
}
.f-wrap {
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: #fff;
}
.slogen {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eeeeee;
  margin: auto;
}
.slogen ul {
  padding: 0;
  width: 1200px;
  margin: auto;
}
.slogen ul:before,
.slogen ul:after {
  content: " ";
  display: table;
}
.slogen ul:after {
  clear: both;
}
.slogen li {
  display: block;
  float: left;
  width: 199px;
  height: 229px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  margin-right: -1px;
}
.slogen .a {
  display: block;
  width: 100%;
  height: 110px;
  text-align: center;
  line-height: 160px;
  background: url(../images/footer/a.jpg) no-repeat center center;
}
.slogen .b {
  display: block;
  width: 100%;
  height: 110px;
  text-align: center;
  line-height: 160px;
  background: url(../images/footer/b.jpg) no-repeat center center;
}
.slogen .c {
  display: block;
  width: 100%;
  height: 110px;
  text-align: center;
  line-height: 160px;
  background: url(../images/footer/c.jpg) no-repeat center center;
}
.slogen .d {
  display: block;
  width: 100%;
  height: 110px;
  text-align: center;
  line-height: 160px;
  background: url(../images/footer/d.jpg) no-repeat center center;
}
.slogen .e {
  display: block;
  width: 100%;
  height: 110px;
  text-align: center;
  line-height: 160px;
  background: url(../images/footer/e.jpg) no-repeat center center;
}
.slogen .f {
  display: block;
  width: 100%;
  height: 110px;
  text-align: center;
  line-height: 160px;
  background: url(../images/footer/f.jpg) no-repeat center center;
}
.sl-name {
  font: 16px Arial;
  font-size: 22px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.sl-des {
  font: 16px Arial;
  font-size: 14px;
  color: #a599a5;
  line-height: 1em;
  font-weight: 500;
  margin-top: 0;
  padding: 0 10px 0 10px;
  text-align: center;
  line-height: 24px;
}
.service {
  width: 1200px;
  margin: auto;
}
.service:before,
.service:after {
  content: " ";
  display: table;
}
.service:after {
  clear: both;
}
.service .s-left {
  float: left;
}
.service .s-name {
  font: 16px Arial;
  font-size: 22px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
.service .sf-input input:first-child {
  width: 240px;
  height: 27px;
}
.service .sf-input input:last-child {
  display: block;
  width: 100px;
  height: 33px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  background-color: #e62e04;
  font: 17px "Arial";
  line-height: 33px;
  text-align: center;
  border: none;
  display: inline-block;
  margin-left: -9px;
  vertical-align: middle;
}
.service .community a {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.service .community .fb {
  background-image: url(../images/footer/fb.jpg);
}
.service .community .tw {
  background-image: url(../images/footer/tw.jpg);
}
.service .community .vk {
  background-image: url(../images/footer/vk.jpg);
}
.service .s-right {
  float: right;
  margin-top: 20px;
}
.service .s-right dl {
  float: left;
  margin-right: 35px;
}
.service .s-right dl dt {
  font: 16px Arial;
  font-size: 14px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
}
.service .s-right dl dd {
  width: 160px;
  line-height: 16px;
  margin-top: 10px;
}
.service .s-right dl dd a {
  font: 16px Arial;
  font-size: 14px;
  color: #a599a5;
  line-height: 1em;
  font-weight: 500;
}
.pay {
  border-top: 1px solid #eeeeee;
  text-align: center;
  padding-top: 20px;
}
#tvc-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 50px;
  cursor: pointer;
}
#tvc-top i {
  display: block;
  transform: rotate(45deg);
}
#tvc-top i:hover {
  color: #ea511b;
}
.nav {
  width: 1200px;
  height: 42px;
  margin: 0 auto;
  position: relative;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav .n-catagory,
.nav .n-items {
  float: left;
  margin: 0;
  height: 42px;
  overflow: hidden;
}
.nav .n-catagory a {
  display: block;
  width: 223px;
  height: 42px;
  color: #000000;
  padding-left: 0;
  padding-right: 0;
  background-color: #eeeeee;
  font: 17px "Arial";
  line-height: 42px;
  text-align: center;
  border: none;
}
.nav .n-items {
  margin-left: 25px;
}
.nav .n-items a {
  display: block;
  width: auto;
  height: 42px;
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  font: 17px "Arial";
  line-height: 42px;
  text-align: center;
  border: none;
}
.nav .categories {
  z-index: 10;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  min-height: 465px;
  text-indent: 27px;
}
.nav .categories a {
  display: block;
  width: 223px;
  height: 29px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  font: 17px "Arial";
  text-align: center;
  border: none;
  font: 16px Arial;
  line-height: 29px;
  text-align: left;
}
.title {
  width: 100%;
  height: 50px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #eeeeee;
  background-color: #fff;
  font: 16px Arial;
  font-size: 25px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
  line-height: 50px;
  text-indent: 27px;
  position: relative;
}
.title span {
  font: 16px Arial;
  font-size: 25px;
  color: #000000;
  line-height: 50px;
  font-weight: 500;
  text-indent: 27px;
}
.title a {
  font: 16px Arial;
  font-size: 16px;
  color: #a0a0a0;
  line-height: 50px;
  font-weight: 500;
  position: absolute;
  right: 20px;
}
.editor-spotlight {
  margin-top: 30px;
  padding: 0;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.editor-spotlight:before,
.editor-spotlight:after {
  content: " ";
  display: table;
}
.editor-spotlight:after {
  clear: both;
}
.editor-spotlight .editor {
  width: 880px;
  height: 395px;
  float: left;
}
.editor-spotlight .spotlight {
  width: 300px;
  float: right;
  height: 395px;
  background-color: #fff;
}
.editor-spotlight .spotlight .title {
  color: #e62e04;
}
.editor-spotlight .spotlight .s-product {
  text-align: center;
}
.editor-spotlight .spotlight .s-product img {
  width: 230px;
  height: 230px;
}
.editor-spotlight .spotlight .sp-price {
  width: 225px;
  height: 60px;
  padding: 5px;
  margin: auto;
}
.editor-spotlight .spotlight .sp-price .spp-left {
  float: left;
}
.editor-spotlight .spotlight .sp-price .spp-left span:first-child {
  display: block;
  font: 16px Arial;
  font-size: 26px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
}
.editor-spotlight .spotlight .sp-price .spp-left span:last-child {
  display: block;
  font: 16px Arial;
  font-size: 14px;
  color: #95989a;
  line-height: 1em;
  font-weight: 500;
  text-decoration: line-through;
}
.editor-spotlight .spotlight .sp-price .spp-right {
  float: right;
  width: 70px;
  height: 25px;
  text-align: center;
  font: 16px Arial;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  font-weight: 500;
  background-color: #ea511b;
}
.editor-spotlight .editor-product {
  height: 345px;
  background-color: #fff;
  position: relative;
}
.editor-spotlight .editor-product .ep-pro1 {
  float: left;
}
.editor-spotlight .editor-product .ep-pro1 img {
  width: 540px;
  height: 345px;
}
.editor-spotlight .editor-product .ep-pros {
  float: left;
  width: 340px;
  height: 100%;
  overflow: hidden;
}
.editor-spotlight .editor-product ul {
  padding-top: 15px;
  padding-left: 20px;
}
.editor-spotlight .editor-product ul:before,
.editor-spotlight .editor-product ul:after {
  content: " ";
  display: table;
}
.editor-spotlight .editor-product ul:after {
  clear: both;
}
.editor-spotlight .editor-product li {
  float: left;
  border: 1px solid #fff;
  margin-right: -1px;
  margin-bottom: -1px;
}
.editor-spotlight .editor-product li:last-child {
  border-top-color: #eeeeee;
  border-left-color: #eeeeee;
}
.editor-spotlight .editor-product li:nth-child(2) {
  border-left-color: #eeeeee;
}
.editor-spotlight .editor-product li:nth-child(3) {
  border-top-color: #eeeeee;
}
.editor-spotlight .editor-product img {
  width: 150px;
  height: 150px;
}
.editor-spotlight .s-countdowner {
  width: 100%;
  height: 45px;
  text-align: center;
  line-height: 55px;
}
.editor-spotlight .s-countdowner span:first-child {
  font: 16px Arial;
  font-size: 26px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
}
.editor-spotlight .s-countdowner .s-time {
  font: 16px Arial;
  font-size: 26px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
  color: #e95742;
}
.content-banner {
  margin: 20px auto;
  height: 140px;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-banner img {
  width: 100%;
  height: 100%;
}
body {
  background-color: #eeeeee;
}
.container {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.head-wrap {
  background-color: #fff;
  width: 100%;
}
.nav-wrap {
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  width: 100%;
}
.carousel-indicators li {
  background-color: #fff;
}
.carousel-indicators .active {
  border-color: #ea511b;
}
#banner {
  background-color: #022022;
  height: 465px;
  position: relative;
}
#banner .carousel-inner {
  width: 1200px;
  margin: auto;
}
#banner .b-aside {
  position: absolute;
  width: 160px;
  height: 420px;
  right: 0;
  top: 22.5px;
  z-index: 20;
}
#banner .carousel-indicators li {
  margin-left: 15px;
}
.carousel-inner {
  height: 100%;
}
.content {
  background-color: #eeeeee;
}
.products {
  padding: 15px;
  width: 169px;
  height: 234px;
  position: relative;
  border: 1px solid #eeeeee;
  margin-right: -1px;
  border-top-color: #fff;
  float: left;
}
.products img {
  text-align: center;
  width: 150px;
  height: 150px;
  transition: transform 0.2s linear;
}
.products img:hover {
  transform: translateX(-5px);
}
.products .pro-title {
  width: 169px;
  height: 33px;
  overflow: hidden;
  line-height: 10px;
  text-align: left;
}
.products .pro-title a {
  font: 14px/16px "Arial";
  color: #000;
}
.products .rating {
  width: 80px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  margin: 4px 0 0 2px;
  background: url(../images/star.png) repeat-x scroll 0 -16px transparent;
}
.products .rating .start {
  display: block;
  height: 15px;
  text-indent: -9999px;
  background: url(../images/star.png) repeat-x scroll 0 0 transparent;
}
.products .c-count {
  position: relative;
  bottom: 3px;
  font: 16px Arial;
  font-size: 12px;
  color: #000000;
  line-height: 1em;
  font-weight: 500;
  display: inline-block;
}
.products .c-count:before {
  content: "( ";
}
.products .c-count:after {
  content: " )";
}
.products .price span:first-child {
  font: 12px "Arial";
  color: #8a8a8c;
}
.products .price span:last-child {
  font: 14px "Arial";
  color: #ea511b;
}
.products:hover {
  border-color: #ea511b;
  z-index: 11;
}
.featured {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.featured .pro-items:before,
.featured .pro-items:after {
  content: " ";
  display: table;
}
.featured .pro-items:after {
  clear: both;
}
.pro-slider {
  position: relative;
}
.pro-slider:before,
.pro-slider:after {
  content: " ";
  display: table;
}
.pro-slider:after {
  clear: both;
}
.pro-slider .pro-items {
  height: 530px;
  display: none;
}
.pro-slider .items-tab {
  position: relative;
  width: 100%;
  height: 50px;
}
.pro-slider .items-tab ol {
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: 15;
  width: 60%;
  height: 50px;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.pro-slider .items-tab ol li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #cdcbcb;
  border-radius: 10px;
  background-color: #cdcbcb;
}
.pro-slider .items-tab ol .tab-active {
  background-color: #ea511b;
  border-color: #ea511b;
}
.pro-slider .left,
.pro-slider .right {
  width: 38px;
  height: 58px;
  position: absolute;
  display: block;
  z-index: 100;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.pro-slider .left:hover,
.pro-slider .right:hover {
  border: 1px solid #eeeeee;
  opacity: 1;
  filter: alpha(opacity=100);
}
.pro-slider .left {
  top: 236px;
  left: 0;
  background: url(../images/left.jpg);
}
.pro-slider .right {
  top: 236px;
  right: 0;
  background: url(../images/right.jpg);
}
.pro-slider .active {
  display: block;
}
.compare {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 370px;
  background: url(../images/pro-bg.jpg) repeat;
}
.compare .title {
  background-color: transparent;
  color: #fff;
  border: none;
}
.compare .pro-items {
  padding-left: 19px;
  overflow: hidden;
  height: auto;
}
.compare .pro-items:before,
.compare .pro-items:after {
  content: " ";
  display: table;
}
.compare .pro-items:after {
  clear: both;
}
.compare .products {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  width: 153px;
  margin-left: 5.5px;
  margin-right: 5.5px;
}
.compare .pro-title {
  width: 155px;
}
.compare .pro-slider .left,
.compare .pro-slider .right {
  border: none;
  top: 106px;
}
.brand {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 20px;
  background-color: #fff;
}
.brand:before,
.brand:after {
  content: " ";
  display: table;
}
.brand:after {
  clear: both;
}
.brand .title ul {
  float: right;
}
.brand .title ul li {
  text-indent: 0;
}
.brand .title a {
  position: relative;
}
.brand-slider {
  width: 440px;
  height: 440px;
  background-color: #fff;
  float: left;
}
#brand-banner {
  width: 440px;
  height: 440px;
}
.brand-items {
  float: left;
  width: 710px;
  padding-left: 38px;
  padding-top: 8px;
}
.brand-items:before,
.brand-items:after {
  content: " ";
  display: table;
}
.brand-items:after {
  clear: both;
}
.brand-items div {
  float: left;
  width: 170px;
  height: 98px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  text-align: center;
  line-height: 98px;
}
.brand-items div:nth-child(4),
.brand-items div:nth-child(8),
.brand-items div:nth-child(12),
.brand-items div:nth-child(16) {
  border-right-color: #fff;
}
.brand-items div:nth-child(13),
.brand-items div:nth-child(14),
.brand-items div:nth-child(15),
.brand-items div:nth-child(16) {
  border-bottom-color: #fff;
}
.brand-items img {
  width: 85px;
  height: 85px;
}
.intelligent {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
}
.intelligent:before,
.intelligent:after {
  content: " ";
  display: table;
}
.intelligent:after {
  clear: both;
}
.intelligent .title {
  border-top-color: #ea511b;
}
#int-banner {
  width: 240px;
  height: 610px;
  float: left;
}
#int-banner .carousel-control {
  line-height: 610px;
  font-size: 50px;
}
.int-items {
  width: 960px;
  height: auto;
  float: left;
}
.int-items:before,
.int-items:after {
  content: " ";
  display: table;
}
.int-items:after {
  clear: both;
}
.products2 {
  padding: 10px;
  width: 219px;
  height: 284px;
  border: 1px solid #eeeeee;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
}
.products2 img {
  text-align: center;
  width: 210px;
  height: 210px;
}
.products2 .pro2-title {
  width: 209px;
  height: 15px;
  overflow: hidden;
  line-height: 10px;
  text-align: center;
  text-indent: 10px;
  margin-top: 20px;
}
.products2 .pro2-title a {
  font: 14px/16px "Arial";
  color: #000;
}
.products2 .pro2-about {
  width: 209px;
  height: 17px;
  line-height: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-indent: 10px;
  margin-top: 0;
  font: 12px/16px "Arial";
  color: #979798;
}
.products2:hover {
  position: relative;
  border-color: #ea511b;
  z-index: 20;
}
.parts {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
}
.parts:before,
.parts:after {
  content: " ";
  display: table;
}
.parts:after {
  clear: both;
}
.parts .title {
  border-top-color: #5fdfa1;
}
.parts-aside {
  width: 240px;
  height: 610px;
  float: left;
}
.parts-aside a {
  display: block;
  width: 240px;
  height: 305px;
  overflow: hidden;
}
.parts-aside img {
  width: 100%;
  height: 100%;
}
.part-items {
  width: 960px;
  height: auto;
  float: left;
}
.part-items:before,
.part-items:after {
  content: " ";
  display: table;
}
.part-items:after {
  clear: both;
}
.special {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
}
.special:before,
.special:after {
  content: " ";
  display: table;
}
.special:after {
  clear: both;
}
.special .title {
  border-top-color: #f9bc9d;
}
.special-aside {
  width: 479px;
  height: 304px;
  overflow: hidden;
  float: left;
}
.special-aside a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.special-aside img {
  width: 100%;
  height: 100%;
}
.special-items {
  width: 720px;
  height: auto;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.special-items:before,
.special-items:after {
  content: " ";
  display: table;
}
.special-items:after {
  clear: both;
}
.recommend {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
}
.recommend .title {
  border-top-color: #7fd2e2;
}
.r-items {
  height: auto;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.r-items:before,
.r-items:after {
  content: " ";
  display: table;
}
.r-items:after {
  clear: both;
}
.products3 {
  padding: 10px;
  width: 219px;
  height: 284px;
  position: relative;
  border: 1px solid #eeeeee;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
}
.products3 img {
  text-align: center;
  width: 210px;
  height: 210px;
}
.products3 .pro3-price {
  width: 220px;
  height: 60px;
  padding: 5px;
  margin: auto;
  float: left;
  width: 135px;
  margin-top: 15px;
}
.products3 .pro3-price div:first-child {
  font: 22px "Arial";
  color: #000;
}
.products3 .pro3-price del {
  font: 14px "Arial";
  color: #95989a;
}
.products3 .pro3-order {
  position: relative;
  bottom: 45px;
  right: 5px;
  float: right;
  width: 100px;
  height: 25px;
  text-align: center;
  font: 14px "Arial";
  color: #000;
}
.products3:hover {
  position: relative;
  border-color: #ea511b;
  z-index: 20;
}
.surprised {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
}
.surprised .title {
  border-top-color: #ff4c6c;
}
.sur-items {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 483px;
}
.sur-items:before,
.sur-items:after {
  content: " ";
  display: table;
}
.sur-items:after {
  clear: both;
}
.sur-items li {
  display: block;
  float: left;
  overflow: hidden;
  width: 285px;
  height: 230px;
  margin-right: 20px;
  margin-bottom: 23px;
}
.sur-items li img {
  width: 100%;
  height: 100%;
}
