@font-face {
    font-family: 'iconfont';
    src:
        url('../../fonts/iconfont.ttf?lahwws') format('truetype'),
        url('../../fonts/iconfont.woff?lahwws') format('woff'),
        url('../../fonts/iconfont.svg?lahwws#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ctrl-right:before {
    content: "\e901";
}
.icon-ctrl-down:before {
    content: "\e902";
}
.icon-ctrl-left:before {
    content: "\e903";
}
.icon-ctrl-top:before {
    content: "\e904";
}
.icon-cart:before {
    content: "\e905";
}
.icon-coin-dollar:before {
    content: "\e906";
}
.icon-plus:before {
    content: "\e900";
}
.icon-minus:before {
    content: "\e907";
}
.icon-cross:before {
    content: "\e908";
}
.icon-checkmark:before {
    content: "\e909";
}
.icon-triangle-down:before {
    content: "\e90a";
}
.icon-triangle-left:before {
    content: "\e90b";
}
.icon-triangle-top:before {
    content: "\e90c";
}
.icon-triangle-right:before {
    content: "\e90d";
}


