<div class="site-top-nav">
    <div class="sn-container">
        <ul class="snc-left">
            <li>
                <a id="AddFavorite" class="sn-items" href="javascript:void(0);">
                    Add Bookmark
                </a>
            </li>
            <li class="language">
                <a class="language-select sn-items" href="javascript:void(0);">
                    <i class="icon-language"></i>
                    English
                    <i class="icon-triangle-down"></i>
                </a>
                <div class="language-items">
                    <a href="http://es.tvc-mall.com/">
                        <i class="icon-triangle-right"></i>
                        Español
                    </a>
                    <a href="http://pt.tvc-mall.com/">
                        <i class="icon-triangle-right"></i>
                        Português
                    </a>
                    <a href="http://ru.tvc-mall.com/">
                        <i class="icon-triangle-right"></i>
                        Русский
                    </a>
                    <a href="http://fr.tvc-mall.com/">
                        <i class="icon-triangle-right"></i>
                        Français
                    </a>
                    <a href="http://it.tvc-mall.com/">
                        <i class="icon-triangle-right"></i>
                        Italiano
                    </a>
                    <a href="http://de.tvc-mall.com/">
                        <i class="icon-triangle-right"></i>
                        Deutsch
                    </a>
                </div>
            </li>
            <li class="currency">
                <a class="sn-items currency-select" href="javascript:void(0);">
                    <i class="icon-coin-dollar"></i>
                    Currency: USD - $
                    <i class="icon-triangle-down"></i>
                </a>
                <div class="currency-items">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="curr-gj"></span> British Pound
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="snc-right">
            <li class="user-login">
                <a class="user-select sn-items" href="javascript:void(0);">
                    hi! Jeremy He
                    <i class="icon-triangle-down"></i>
                </a>
                <div class="user-option">
                    <a href="http://es.tvc-mall.com/">
                        My Account
                    </a>
                    <a href="http://pt.tvc-mall.com/">
                        My Orders
                    </a>
                    <a href="http://ru.tvc-mall.com/">
                        My Profile
                    </a>
                    <a href="http://fr.tvc-mall.com/">
                        My Points & Balance
                    </a>
                </div>
            </li>
            <li class="sncr-logout active">
                <a class="sn-items" href="javascript:void(0);">
                    Logout
                </a>
            </li>
            <li class="active">
                <a class="sn-items" href="javascript:void(0);">
                    message(8)
                </a>
            </li>
            <li class="order">
                <a class="order-select sn-items" href="javascript:void(0);">
                    <i class="icon-cart"></i>
                    My Orders(2 items)
                    <i class="icon-triangle-down"></i>
                </a>
                <div class="order-content">
                    <div class="order-info">
                        <a class="order-title" href="#" rel="nofollow">
                            V16022900238
                        </a>
                        <div class="order-items">
                            <label class="order-items-title">Subtotal</label>
                            <p class="order-items-value"><span class="orange">DKK 716.03</span></p>
                        </div>
                        <div class="order-items">
                            <label class="order-items-title">Shipping cost</label>
                            <p class="order-items-value"><span class="orange">DKK 716.03</span> (UPS)</p>
                        </div>
                        <div class="order-items">
                            <label class="order-items-title">Total</label>
                            <p class="order-items-value"><span class="orange">DKK 716.03</span></p>
                        </div>
                        <div class="order-items">
                            <label class="order-items-title">Gross Weight</label>
                            <p class="order-items-value">1.445 kgs</p>
                        </div>
                        <div class="order-items">
                            <label class="order-items-title">Volume Weight</label>
                            <p class="order-items-value">0.574 kgs</p>
                        </div>
                        <a class="btn btn-sm btn-default" href="#" rel="nofollow">
                            Checkout
                        </a>
                    </div>
                    <div class="order-info">
                        <a class="order-title" href="#" rel="nofollow">
                            Other Orders
                        </a>
                        <div class="order-list-items">
                            <div class="order-products-count">1 item</div>
                            <div class="order-list-wraper">
                                <i class="icon-cart"></i>
                                <a class="order-link" href="#" rel="nofollow">V16013000101</a>
                            </div>
                        </div>
                        <div class="order-list-items">
                            <div class="order-products-count">1 item</div>
                            <div class="order-list-wraper">
                                <i class="icon-cart"></i>
                                <a class="order-link" href="#" rel="nofollow">V16013000101</a>
                            </div>
                        </div>
                        <div class="order-list-items">
                            <div class="order-products-count">2 items</div>
                            <div class="order-list-wraper">
                                <i class="icon-cart"></i>
                                <a class="order-link" href="#" rel="nofollow">V16013000101</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="help">
                <!--help-->
                <a class="help-select sn-items" href="javascript:void(0);">
                    <i class="icon-question"></i>
                    Help
                    <i class="icon-triangle-down"></i>
                </a>
                <div class="help-content">
                    <a href="#" rel="nofollow">
                        <i class="icon-triangle-right"></i>
                        New User Guide
                    </a>
                    <a href="" rel="nofollow">
                        <i class="icon-triangle-right"></i>
                        FAQ
                    </a>
                </div>
            </li>
            <li>
                <a class="sn-items" href="javascript:void(0);">
                    <i class="icon-talk"></i>
                    Live Chat
                    <i class="icon-triangle-down"></i>
                </a>
            </li>
        </ul>
    </div>
</div>



<div class="header">
    <!--site nav-->
    <!--site navigation-->
    <!--top banner-->
    <aside class="cross-aside-80">
        <img src="../images/top-banner.jpg" />
    </aside>

    <!--site-search-->
    <div class="site-search">
        <div class="logo">
            <a href="#">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <!--search form-->
        <div class="ssr-search">
            <form class="search-form" action="">
                <i class="icon-search"></i>
                <input class="s-input" placeholder="Search Wholesale Products" type="search">
                <input class="s-submit" type="submit" value="Search">
            </form>
            <ul class="s-hot">
                <li>Hot Searches:</li>
                <li>
                    <a href="#">balance wheel</a>
                </li>
                <li>
                    <a href="#">galaxy s6 edge plus</a>
                </li>
                <li>
                    <a href="#">balance wheel</a>
                </li>
                <li>
                    <a href="#">galaxy s6 edge plus</a>
                </li>
                <li>
                    <a href="#">balance wheel</a>
                </li>
                <li>
                    <a href="#">galaxy s6 edge plus</a>
                </li>
                <li>
                    <a href="#">balance wheel</a>
                </li>
                <li>
                    <a href="#">galaxy s6 edge plus</a>
                </li>
            </ul>
        </div>
        <!--finder-->
        <div class="finder">
            <a class="finder-button" href="javascript:void(0);">
                Accessories Finder
                <i class="icon-ctrl-down"></i>
            </a>
            <div class="finder-panel">
                <p class="finder-title">Narrow it down and get what you want quickly.</p>
                <form class="form-inline">
                    <div class="form-group">
                        <select class="selectpicker" data-live-search="true" title="Select a brand">
                            <option>Hot Doa Soda</option>
                            <option>Burga Smile</option>
                            <option>Suga nice</option>
                            <option>Baby Back Ribs</option>
                            <option>A really really</option>
                            <option>Hoand a Soda</option>
                            <option>Burg Smile</option>
                            <option>Sugags nice</option>
                            <option>Baby Back Ribs</option>
                            <option>A really really</option>
                            <option>Hotda</option>
                            <option>Burgerle</option>
                            <option>ll things nice</option>
                            <option>Baby Back Ribs</option>
                            <option>A really really</option>
                            <option>Hot oda</option>
                            <option>Burgmile</option>
                            <option>Sugar, Spie</option>
                            <option>Baby Back Ribs</option>
                            <option>A really really</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="selectpicker" data-live-search="true" title="Select a model">
                            <option>Hot D Soda</option>
                            <option>Burgemile</option>
                            <option>Sugar, Spi nice</option>
                            <option>Baby ibs</option>
                            <option>A really really</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="selectpicker" data-live-search="true" title="Women's Accessories">
                            <option>Hot Doga</option>
                            <option>Burgengs nice</option>
                            <option>Baby Ribs</option>
                            <option>A rereally</option>
                        </select>
                    </div>
                    <input class="finder-submit" type="submit" name="name" value="Find" />
                </form>
            </div>
        </div>
    </div>

    <!--main navigation-->
    <div class="site-main-nav">
        <nav class="nav">

            <!--navigation catagory-->
            <div class="n-catagory">
                <a href="#" class="all-catagory">Wholesale Categories</a>
                <ul class="categories">
                    <!--main list-->
                    <li>
                        <a href="#">
                            Mobile Accessories
                        </a>

                        <!--brand pannel-->
                        <div class="categories-items nc-brand">
                            <!--brand list-->
                            <div class="nc-brand">
                                <dl>
                                    <dt>
                                        <span class="brand-title">
                                            Accessories by Manufacturer
                                        </span>
                                        <a class="brand-link">
                                            View all Manufacturers >>
                                        </a>
                                    </dt>

                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <span class="brand-title">
                                            Accessories by Type
                                        </span>
                                        <a class="brand-link">
                                            View all Types >>
                                        </a>
                                    </dt>

                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <span class="brand-title">
                                            Accessories by Brand
                                        </span>
                                        <a class="brand-link">
                                            View all Brands >>
                                        </a>
                                    </dt>

                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="#">
                                            <img src="../images/br.jpg" alt="" />
                                        </a>
                                    </dd>
                                </dl>
                            </div>

                            <!--aside-->
                            <aside class="brand-aside">
                                <a href="#">
                                    <img src="../images/vv.jpg" alt="" />
                                </a>
                            </aside>
                        </div>
                    </li>
                    <li>
                        <a href="#">iPhone Accessories</a>

                        <!--catalog pannel-->
                        <div class="categories-items">
                            <div class="sub-catalog">
                                <!--fisrt-->
                                <div class="sub-catalog-items">
                                    <dl>
                                        <dt>
                                            <a href="#">  Other Apple Accessories</a>
                                        </dt>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                All iPad mini 4 Accessories >
                                            </a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">  Other Apple Accessories</a>
                                        </dt>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                All iPad mini 4 Accessories >
                                            </a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">  Other Apple Accessories</a>
                                        </dt>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                All iPad mini 4 Accessories >
                                            </a>
                                        </dd>
                                    </dl>
                                </div>

                                <!--two-->
                                <div class="sub-catalog-items">
                                    <dl>
                                        <dt>
                                            <a href="#">  Other Apple Accessories</a>
                                        </dt>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                All iPad mini 4 Accessories >
                                            </a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">  Other Apple Accessories</a>
                                        </dt>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                All iPad mini 4 Accessories >
                                            </a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">  Other Apple Accessories</a>
                                        </dt>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                Other Apple AccessXXXXX
                                            </a>
                                        </dd>
                                        <dd>
                                            <a href="#">
                                                All iPad mini 4 Accessories >
                                            </a>
                                        </dd>
                                    </dl>
                                </div>

                                <!--other-->
                                <div class="sub-catalog-items">
                                    <dl class="other-catalog">
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                        <dd><a href="#">Other Apple AccessXXXXX</a></dd>
                                    </dl>
                                </div>
                            </div>
                            <!--aside-->
                            <aside class="brand-aside">
                                <a href="#">
                                    <img src="../images/vv.jpg" alt="" />
                                </a>
                            </aside>
                        </div>
                    </li>
                    <li>
                        <a href="#">Other Apple Accessories</a>
                        <div class="categories-items">

                        </div>
                    </li>
                    <li>
                        <a href="#">Samsung Accessories</a>
                        <div class="categories-items">

                        </div>
                    </li>
                    <li>
                        <a href="#">Sony Accessories</a>
                        <div class="categories-items">

                        </div>
                    </li>
                    <li>
                        <a href="#">LG Accessories</a>
                        <div class="categories-items">

                        </div>
                    </li>
                    <li>
                        <a href="#">Other Mobile Accessories</a>
                    </li>
                    <li>
                        <a href="#">Cell Phone Parts</a>
                    </li>
                    <li>
                        <a href="#">Cell Phones & Tablets</a>
                    </li>
                    <li>
                        <a href="#">Consumer Electronics</a>
                    </li>
                    <li>
                        <a href="#">Computer & Networking</a>
                    </li>
                    <li>
                        <a href="#">Hobbies & Toys</a>
                    </li>
                    <li>
                        <a href="#">Security & Surveillance</a>
                    </li>
                    <li>
                        <a href="#">Lights & Lighting</a>
                    </li>
                    <li>
                        <a href="#">Home & Garden</a>
                    </li>
                    <li>
                        <a href="#">Sports & Outdoors</a>
                    </li>
                </ul>
            </div>
            <div class="n-items">
                <ul class="n-items">
                    <li>
                        <a href="javascript:void(0)">New Arrivals</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Bestselling</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Stock Clearance</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Brand Zone</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Under $0.49</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>