@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?faud9i');
    src:    url('fonts/icomoon.eot?faud9i#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?faud9i') format('truetype'),
        url('fonts/icomoon.woff?faud9i') format('woff'),
        url('fonts/icomoon.svg?faud9i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e902";
}
.icon-coin-dollar:before {
    content: "\e901";
}
.icon-rocket:before {
    content: "\e903";
}
.icon-star-empty:before {
    content: "\e904";
}
.icon-star-full:before {
    content: "\e905";
}
.icon-arrow-up:before {
    content: "\e906";
}
.icon-circle-up:before {
    content: "\e907";
}
.icon-circle-right:before {
    content: "\e908";
}
.icon-circle-down:before {
    content: "\e909";
}
.icon-circle-left:before {
    content: "\e90a";
}
.icon-ctr-left:before {
    content: "\e90b";
}
.icon-ctr-top:before {
    content: "\e90c";
}
.icon-ctr-right:before {
    content: "\e90d";
}
.icon-ctr-bottom:before {
    content: "\e90e";
}

