@import "../partials/mixins";


#product-detail {
    .content {
        width: @page-width;
        .center();
    }
    //商品属性
    .p-property {
        display: flex;
        justify-content: space-between;
        width: 100%;
        //商品图片
        .p-pictures {
            width: 500px;

            .big-pic-wrap {
                .size(500px, 500px);
                border: 1px solid @gray-dark;

                img {
                    max-width: 500px;
                }
            }
            //放大镜提示
            .zoom-tip {
                width: 502px;
                height: 25px;
                line-height: 25px;
                background-color: #f5f5f5;
                text-align: center;
            }
            //商品小图轮播图
            .pics-slider-wrap {
                margin-top: 15px;
                .size(100%, auto);
                //轮播图
                .carousel {
                    position: relative;

                    .images-block {
                        display: flex;
                        justify-content: flex-start;

                        .ib-item {
                            margin: 0 5.6px;
                            border: 1px solid @gray-dark;

                            img {
                                max-width: 70px;
                            }

                            &.select {
                                border-color: @nomal-color;
                            }
                        }
                    }
                }

                .slide-left, .slide-right {
                    display: block;
                    position: absolute;
                    top: 22px;
                }

                .slide-left {
                    left: 0;
                }

                .slide-right {
                    right: 0;
                }
            }

            .image-tips {
                margin-top: 15px;

                .view-all {
                    margin-left: 15px;
                    color: #2c8ccd;
                }
                .down-images{
                    color: #2c8ccd;
                }
            }
        }
        //属性详情
        .pp-detail {
            width: 675px;

            .lable {
                display: inline-block;
                width: 65px;
                text-align: right;
                font: @nomal-font;
                color: #000;
            }

            .detail-header {
                border-bottom: 1px solid @gray-dark;
                padding-bottom: 30px;
                //标题
                .dh-title {
                    font: @nomal-font;
                    font-size: 20px;
                    color: #000;
                }
                //评分
                .rating-wrap {
                    .r-lable {
                        color: #000;
                    }

                    .rating {
                        .rating();
                    }

                    .r-reviews {
                        & a:hover {
                            color: @nomal-color;
                        }
                    }
                }

                .detail-tips {
                    margin-top: 5px;

                    .tips-item {
                        color: #000;
                        margin-right: 30px;
                    }
                }
            }
            //颜色列表
            .ppd-color-wrap {
                display: flex;
                justify-content: flex-start;
                margin-top: 25px;

                .c-lable {
                    line-height: 40px;
                }

                .color-block {
                    margin-left: 15px;

                    a {
                        display: inline-block;
                        margin: 0 5px 10px 0;
                        border: 1px solid #eee;
                        width: 40px;
                        height: 40px;
                      

                        img{
                            max-width: 40px;
                        }
                        &.select{
                            border-color: @nomal-color;
                        }
                    }
                }
            }
            //其他属性
            .other-attributes {
                display: flex;
                justify-content: flex-start;

                .attributes-list {
                    margin-left: 15px;

                    .attibutes-item {
                        margin-right: 5px;
                        padding: 2px;
                        border: 1px solid @gray-darker;

                        &.select, &:hover {
                            border-color: @nomal-color;
                        }
                    }
                }
            }
            //批量购买按钮
            .bulk-buy-btn {
                margin: 20px 0 0 80px;
                background-color: #2c8ccd;
                color: #fff;
                border: none;
                font-size: 15px;
                height: 20px;
                line-height: 20px;
            }
        }

        .detail-item {
            display: flex;
            justify-content: flex-start;
            margin-top: 15px;

            .lable-price {
                line-height: 26px;
            }

            .lable-count {
                line-height: 25px;
            }

            .price-info {
                margin-left: 15px;

                .new-price {
                    color: @nomal-color;
                    font: @nomal-font;
                    font-size: 22px;
                }
            }

            .buy-count {
                margin-left: 15px;

                .icon-web {
                    display: inline-block;
                    vertical-align: middle;
                }

                .count-input {
                    width: 50px;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
        //购买信息
        .ppd-buy-info {
            margin-left: 80px;
            margin-top: 20px;

            .add-cart {
                .icon-cart {
                    font-size: 16px;
                }

                background-color: @nomal-color;
                font: @nomal-font;
                font-size: 20px;
                color: #fff;
                border: none;
            }

            .check-out {
                margin-left: 20px;
                vertical-align: bottom;
                text-decoration: underline;
            }

            .icon-triangle-right {
                display: inline-block;
                vertical-align: bottom;
                text-decoration: none;
                font-size: 18px;
            }

            .ship-info {
                margin-top: 20px;
                position: relative;

                .icon-air {
                    display: inline-block;
                    position: relative;
                    top: 2px;
                }

                .ship-price {
                    font: @nomal-font;
                    color: @nomal-color;
                }
            }

            .more-ship {
                text-decoration: underline;
            }
            //价格区间
            .price-interval {
                margin-top: 20px;

                .interval-tips {
                    color: #000;

                    .tips-item {
                        margin-right: 40px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
