@import "clear";
@import url('iconfont.css');
@import "variables.less";
@import "partials/site-top-nav.less";
@import "partials/site-search.less";
@import "partials/site-main-nav.less";
@import "partials/footer.less";
@import "partials/cross-aside.less";
@import "partials/location.less";
@import "partials/start-rating.less";
@import url('modules/sco.message.css');





@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/MyriadPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
    }
}

body .header {
    padding-top: 33px;
}

.mb-item {
    img {
        max-width: 96%;
    }
}

body {
    margin: 0;
    min-width: 1200px;
    font: 15px MyriadPro-Light, Arial;
    color: #666666;
}

a {
    cursor: pointer;

    &:hover {
        color: @nomal-color;
    }
}


//图片上下左右居中
.img-fontmat {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    img {
        display: block;
    }
}

.modal-dialog {
    top: 60px !important;
}

.f-weight {
    font: @nomal-font;
}

//模态对话框
.modal-header {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;

    h4 {
        font-size: 21px;
    }
}

.modal-content {
    padding: 0 20px 20px 20px;
}

.n-color {
    color: @nomal-color !important;
}

.bootstrap-select.btn-group .form-control {
    width: 135px;
    height: 20px;
}

.b-color {
    color: deepskyblue !important;
}

.g-color {
    color: #34a311 !important;
}

.table {
    th {
        font: @nomal-font;
    }
}

h2, h3, h3, h4 {
    font: @nomal-font;
    font-size: 18px;
}

label {
    font: @nomal-font;
}

.btn-danger{
    background-color: @nomal-color !important;
}
