

@import "../common";
@import "../variables";
@import "../../css/mixins/common";

.footer {
    @footer-title-size: 18px; //底部标题字体大小
    @footer-font-size: 12px; //底部字体大小
    .size(100%, auto);
    background-color: #fff;
    border-top: 1px solid @nomal-bg-color;

    a:hover {
        text-decoration: underline;
    }

    .slogen {
        //定义slogen中的图片
        .slogen-image() {
            display: block;
            .size(100%, 110px);
            text-align: center;
            line-height: 160px;
        }

        .size(100%, auto);
        border-bottom: 1px solid #eeeeee;
        margin: auto;

        ul {
            .clearfix();
            padding: 0;
            width: 1200px;
            margin: auto;
        }

        li {
            display: block;
            float: left;
            .size(199px, 229px);
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            margin-right: -1px;
        }

        .a {
            .slogen-image();
            background: url(../../images/footer/a.jpg) no-repeat center center;
        }

        .b {
            .slogen-image();
            background: url(../../images/footer/b.jpg) no-repeat center center;
        }

        .c {
            .slogen-image();
            background: url(../../images/footer/c.jpg) no-repeat center center;
        }

        .d {
            .slogen-image();
            background: url(../../images/footer/d.jpg) no-repeat center center;
        }

        .e {
            .slogen-image();
            background: url(../../images/footer/e.jpg) no-repeat center center;
        }

        .f {
            .slogen-image();
            background: url(../../images/footer/f.jpg) no-repeat center center;
        }
    }

    .sl-name {
        .font(@footer-title-size, #000);
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .sl-des {
        .font(@footer-font-size, #a599a5);
        margin-top: 0;
        padding: 0 10px 0 10px;
        text-align: center;
        line-height: 24px;
    }

    .service {
        width: 1200px;
        max-width: 1200px;
        margin: auto;
        .clearfix();

        .s-left {
            float: left;
        }

        .s-name {
            .font(@footer-title-size, #000);
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .sf-input {
            display: flex;
            justify-content: center;
            .size(320px, 30px);
            overflow: hidden;
            border: 1px solid #e62e04;

            input:first-child {
                border: none;
                text-indent: 10px;
                .size(240px, 29px);
                z-index: 50;

                &:focus {
                    outline: none;
                }
            }

            input:last-child {
                .button(@nomal-font,90px, auto, #fff, #e62e04);
                font-size: 16px;
                display: inline-block;
                margin-left: -9px;
                vertical-align: middle;
                z-index: 10;
            }
        }

        .community {
            a {
                display: inline-block;
                .size(32px, 32px);
            }

            .fb {
                background-image: url(../../images/footer/fb.jpg);
            }

            .tw {
                background-image: url(../../images/footer/tw.jpg);
            }

            .vk {
                background-image: url(../../images/footer/vk.jpg);
            }
        }

        .s-right {
            float: right;
            margin-top: 20px;

            dl {
                float: left;
                margin-right: 35px;

                dt {
                    .font(@footer-title-size, #000);
                }

                dd {
                    width: 160px;
                    line-height: 16px;
                    margin-top: 10px;

                    a {
                        .font(@footer-font-size, #a599a5);

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .pay {
        border-top: 1px solid #eeeeee;
        text-align: center;
        padding-top: 20px;
    }

    #tvc-top {
        position: fixed;
        right: 50px;
        bottom: 50px;
        font-size: 30px;
        cursor: pointer;
        color: #000;
        opacity: 0.5;
        z-index: 9999;

        i {
            display: block;
        }

        &:hover {
            opacity: 1;
        }
    }
}
