@-webkit-keyframes icon-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@keyframes icon-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
@keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
.nav-wrap {
  border-top: 1px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-top: 20px;
}
.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 1200px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}
.nav .n-catagory,
.nav .n-items {
  height: 42px;
}
.nav .n-catagory a {
  display: block;
  width: 223px;
  height: 42px;
  color: #000;
  padding-left: 0;
  padding-right: 0;
  background-color: #eeeeee;
  font: 12px MyriadPro-Regular, Arial;
  line-height: 42px;
  text-align: center;
  border: none;
  font-size: 18px;
}
.nav .n-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 15px;
}
.nav .n-items a {
  display: block;
  width: auto;
  height: 42px;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  font: 12px MyriadPro-Regular, Arial;
  line-height: 42px;
  text-align: center;
  border: none;
  font-size: 16px;
}
.nav .n-items a:hover {
  color: #ea511b;
}
.nav .categories {
  position: absolute;
  top: 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  min-height: 465px;
  text-indent: 27px;
}
.nav .categories li {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-left: 3px solid transparent;
}
.nav .categories li a {
  display: block;
  width: 220px;
  height: auto;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  font: 12px MyriadPro-Regular, Arial;
  line-height: auto;
  text-align: center;
  border: none;
  font-size: 14px;
  text-align: left;
}
.nav .categories li a:hover {
  text-decoration: none;
}
.nav .categories li:hover {
  background-color: #fff;
  border-left-color: #ea511b;
}
.nav .categories li:hover a {
  color: #ea511b;
}
.nav .categories li:hover .categories-items {
  display: block;
  -webkit-animation: move 0.5s normal;
          animation: move 0.5s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.nav .categories .categories-items {
  display: none;
  position: absolute;
  top: 0;
  left: 218px;
  z-index: 100;
  padding: 15px 15px;
  width: 719px;
  height: 435px;
  background-color: #fff;
}
.nav .categories .nc-brand dl {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.nav .categories .nc-brand dl:before,
.nav .categories .nc-brand dl:after {
  content: " ";
  display: table;
}
.nav .categories .nc-brand dl:after {
  clear: both;
}
.nav .categories .nc-brand dl .brand-link:hover {
  text-decoration: underline;
}
.nav .categories .nc-brand dl dt {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.nav .categories .nc-brand dl dt .brand-title {
  position: relative;
  left: -15px;
  text-align: left;
}
.nav .categories .nc-brand dl dt .brand-link {
  text-align: right;
}
.nav .categories .nc-brand dl dd {
  float: left;
  margin: 10px;
}
.nav .categories .nc-brand dl dd a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 85px;
  height: 85px;
  border: 1px solid #eeeeee;
}
.nav .categories .nc-brand dl dd a img {
  width: 100%;
  height: 100%;
}
.nav .categories .nc-brand dl dd a:hover {
  border: 1px solid #ea511b;
}
.nav .categories .nc-brand .brand-aside {
  position: absolute;
  right: -225px;
  top: 0;
  width: 225px;
  height: 465px;
}
.nav .categories .nc-brand .brand-aside a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav .categories .nc-brand .brand-aside a img {
  width: 225px;
  height: 465px;
}
.nav .categories .sub-catalog {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: 12px MyriadPro-Regular, Arial;
  font-size: 15px;
}
.nav .categories .sub-catalog .sub-catalog-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 210px;
  height: 465px;
}
.nav .categories .sub-catalog .sub-catalog-items dt {
  border-bottom: 1px solid #eeeeee;
}