@import "../mixins/common";
@import "../variables/common";

//搜索部分
.site-search {
    @search-border: 2px; //搜索框边框宽度
    @search-height: 40px; //搜索框高度
    @search-input-width: 658px; //搜索输入框宽度
    @search-submit-width: 90px; //搜索提交按钮宽度
    @nomal-font-size: 16px; //普通字体大小
    @Hot-font-size: 15px; //搜索热词字体大小
    display: flex;
    justify-content: space-between;
    width: @page-width;
    margin-top: 10px;
    font-size: 16px;
    .center();

    .logo {
        .size(200px, 60px);
    }

    .ss-right {
        width: 955px;
        display: flex;
        justify-content: space-between;
    }

    .ssr-search {
        @width: @search-input-width + @search-submit-width;

        width: @width;
        overflow: hidden;

        .search-form {
            position: relative;
            width: @width;
            height: @search-height - 2 * @search-border;
            border: @search-border solid @nomal-color;
            overflow: hidden;
        }
    }

    .s-input {
        position: absolute;
        top: 0;
        left: 0;
        width: @search-input-width;
        height: @search-height - 2 * @search-border;
        border: 0;
        text-indent: 10px;

        &:focus {
            outline: 0;
        }
    }

    .s-submit {
        position: absolute;
        top: 0;
        right: 0;
        .button(@nomal-font, @search-submit-width, @search-height - 2 * @search-border, #fff, @nomal-color);
        font-size: 17px;
        border: 0;

        &:focus {
            outline: 0;
        }
    }

    .s-hot {
        padding: 0;
        height: 25px;
        width: 100%;
        overflow: hidden;
        .list-style();

        li {
            display: inline-block;
            margin-right: 10px;
        }

        li:first-child {
            .font(@Hot-font-size, #bfbfbe, 25px, 700);
        }

        a {
            text-decoration: underline;
            .font(@Hot-font-size, #bfbfbe, 30px);

            &:hover{
                color: @nomal-color;
            }
        }
    }




    .finder {
        @width: 198px;
        @height: 40px;
        position: relative;
        float: left;

        a {
            .button(@nomal-font, @width, @height, #fff, @nomal-color);
            font-size: @nomal-font-size;
            text-decoration: none;

            &:hover {
                i {
                    display: inline-block;
                    .rotate();
                }
            }
        }

        .panel {
            .size(@width - 2, 500px);
            position: absolute;
            top: @height;
            left: 0;
            border: 1px solid @nomal-color;
            background-color: #fff;
            z-index: 100;
        }

        &:hover {
            .icon-ctrl-down {
                .rotate(@origin-x:50%, @origin-y:70%, @during:0.2s);
            }
        }
    }
}
