<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap.css" rel="stylesheet" />
    <link href="../styles/modules/icheck-orange.css" rel="stylesheet" />
    <link href="../styles/pages/login.min.css" rel="stylesheet" />
</head>
<body id="login">
    <header class="login-header">
        <div class="header-inner">
            <a href="#" class="logo">
                <img src="../images/logo.png" />
            </a>
            <ul class="h-right">
                <li>
                    <a class="hr-item" href="#">Home</a>
                </li>
                <li>
                    <a class="hr-item" href="#">New Arrivals</a>
                </li>
                <li>
                    <a class="hr-item" href="#">Bestselling</a>
                </li>
                <li>
                    <a class="hr-item" href="#">Brand Zone</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="c-left">
            <img src="../images/home.jpg" />
        </div>
        <div class="c-right">
            <h2>Sign In to TVC-Mall</h2>
            <div class="login-info">
                <form class="login-data">
                    <input type="text" value="" class="d-item form-control" placeholder="Email Address"/>
                    <input type="password" value="" class="d-item form-control" placeholder="Password"/>
                    <div class="r-me d-item">
                        <input type="checkbox" value="" />
                        Remember Me?
                    </div>
                    <input type="submit" value="Sign in Securely" class="btn btn-default btn-submit"/>
                </form>
                <a href="#" class="f-password">Login Forgot your password?</a>
                <div class="three-login">
                    <p class="login-des">You can also sign in with</p>
                    <div class="th-content">
                        <a class="c-item" href="#">
                            <span class="icon-web icon-yh"></span>
                        </a>
                        <a class="c-item" href="#">
                            <span class="icon-web icon-ms"></span>
                        </a>
                        <a class="c-item" href="#">
                            <span class="icon-web icon-paypal"></span>
                        </a>
                        <a class="c-item" href="#">
                            <span class="icon-web icon-fb"></span>
                        </a>
                    </div>
                </div>
                <a href="#" class="regist">Join Free Now</a>
            </div>

            <div class="btm-section">
                <dl>
                    <dt>OrderDelivery</dt>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/Support/Checkoutpayment.shtml">Payment Policy</a>
                    </dd>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/Service/WarrantyReturnPolicy.shtml">Warranty & Return Policy</a>
                    </dd>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/Service/PrivacyPolicy.shtml">Privacy Policy</a>
                    </dd>
                </dl>
                <dl>
                    <dt>WHY CHOOSE US?</dt>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/about/WhyTvcMall.shtml">Why TVC Mall</a>
                    </dd>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/about/testimonials.shtml">Testimonials</a>
                    </dd>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/about/services.shtml">Services</a>
                    </dd>
                </dl>
                <dl>
                    <dt>ABOUT TVC MALL</dt>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/about/overview.shtml">Overview</a>
                    </dd>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/about/team.shtml">Meet the Team</a>
                    </dd>
                    <dd>
                        <a href="http://www.tvc-mall.com/HelpCenter/Service/contact.shtml">Contact Us</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <footer class="login-footer">
        <div class="f-inner">
            © 2016 Shenzhen TVC-TECH Limited All Rights Reserved.
        </div>
    </footer>

    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/icheck.min.js"></script>
    <script src="../js/bootstrap-select.js"></script>
    <script src="../js/pages/login.js"></script>
</body>
</html>
