<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap.css" rel="stylesheet" />
    <link href="../styles/pic-pay.css" rel="stylesheet" />
    <link href="../styles/pic-ship.css" rel="stylesheet" />
    <link href="../styles/modules/icheck-orange.css" rel="stylesheet" />
    <link href="../styles/pages/order-info.min.css" rel="stylesheet" />
    <link href="../styles/pic-purchase.css" rel="stylesheet" />
    <link href="../styles/modules/icheck-orange.css" rel="stylesheet" />
</head>
<body id="order-info">
    <div class="order-header">
        <div class="header-inner">
            <a href="#" class="logo">
                <img src="../images/logo.png" />
            </a>
            <div class="order-pic-info pic-purchase purchase-1"></div>
        </div>
    </div>
    <div class="content">
        <div class="order-top-info">
            <div class="ot-left">
                <h3>
                    Shopping Cart
                    <span class="n-color">
                        (19 items, 26 Pieces)
                    </span>
                </h3>
                <!--location-->
                <div class="location">
                    <ol>
                        <li>
                            <a href="#">
                                <i class="icon-cart"></i>
                                Account center
                            </a>
                            <span class="l-arrow">>></span>
                        </li>
                        <li>
                            <a href="#">My orders</a>
                            <span class="l-arrow">>></span>
                        </li>
                        <li>
                            <a class="active" href="#">Order info</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="ot-right">
                <span class="order_right_icon" onclick="javascript:window.open('https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.tvc-mall.com&amp;lang=en')"></span>
                <a name="trustlink" href="http://secure.trust-guard.com/business/9582" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace(/https?/, 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;">
                    <img name="trustseal" alt="Business Seals" style="border: 0; margin-left: 10px;" src="//dw26xg4lubooo.cloudfront.net/seals/business/9582-large.gif" width="100" height="65">
                </a>
            </div>
        </div>

        <table class="table order-detail">
            <tr>
                <th>Order NO.</th>
                <th>Subtotal</th>
                <th>Amount</th>
                <th>Gross Weight</th>
                <th>Volume Weight</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <span class="n-color">V16031000002</span>
                </td>
                <td>
                    <span class="n-color">$ 1240.19</span>
                </td>
                <td>
                    <span class="n-color">$ 895.21</span>
                </td>
                <td>24.354 kgs</td>
                <td>21.603 kgs</td>
                <td>
                    <span class="btn btn-danger">Buy more</span>
                    <span class="btn btn-success">Bulk Buy with SKUs</span>
                </td>
            </tr>
        </table>

        <div class="mg10 alert alert-warning alert-dismissible fade in" role="alert">
            Some promotional items in your order are only available for limited time. Please make a payment before the promotions end.
        </div>

        <div class="order-list-wrap">
            <div class="order-list-header">
                <div class="h-item i-no">No.</div>
                <div class="h-item i-img">Image</div>
                <div class="h-item i-des">Item No./Description</div>
                <div class="h-item i-price">Price</div>
                <div class="h-item i-q">Quantity</div>
                <div class="h-item i-g">Gross(kgs)</div>
                <div class="h-item i-v">Volume(kgs)</div>
                <div class="h-item i-a">Action</div>
            </div>
            <ul class="order-list">
                <li data-type="j-toggle-item">
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        Promotion: Gifts over 50+. <a href="#" class="b-color"> More>></a><span class="icon-web icon-select"></span>
                    </div>
                    <div class="list-item">
                        <div class="i-no">1</div>
                        <div class="i-img">
                            <a href="#">
                                <img src="../images/big-pic.jpg" />
                            </a>
                        </div>
                        <div class="i-des">
                            <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                        </div>
                        <div class="i-price">
                            <span class="n-color price">
                                $6.53
                            </span>

                        </div>
                        <div class="i-q">
                            <span class="items-count">
                                22
                            </span>
                        </div>
                        <div class="i-g">
                            <span class="gross">
                                0.560
                            </span>
                        </div>
                        <div class="i-v">
                            <span class="volume">
                                0.560
                            </span>
                        </div>
                        <div class="i-a delete-item">

                        </div>
                    </div>
                    <div class="bulk-items-wrap" data-type="order-bulk">
                        <div class="bi-left">
                            <a class="open" data-type="order-bulk-toggler">+</a>
                        </div>
                        <div class="bi-right si-wrap">
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bulk-items-wrap" data-type="order-bulk" style="display: none;">
                        <div class="bi-left">
                            <a class="close" data-type="order-bulk-toggler">-</a>
                        </div>
                        <div class="bi-right">
                            <div class="list-item">
                                <div class="i-img">
                                    <a href="#">
                                        <img src="../images/big-pic.jpg" />
                                    </a>
                                </div>
                                <div class="i-des">
                                    <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                                    <p class="item-no">Item No: 84001341B</p>
                                    <p>
                                        Remark:
                                        <input class="remark-input" type="text" value="" />
                                    </p>
                                </div>
                                <div class="i-price">
                                    <span class="n-color price">
                                        $6.53
                                    </span>
                                    <del>$8.99</del>
                                </div>
                                <div class="i-q">
                                    <input type="number" value="88" class="form-control" data-original-number="88" />
                                </div>
                                <div class="i-g">
                                    <span class="gross">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-v">
                                    <span class="volume">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-a">
                                    <i class="icon-delete delete-item" data-type="order-item-delete"></i>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="i-img">
                                    <a href="#">
                                        <img src="../images/big-pic.jpg" />
                                    </a>
                                </div>
                                <div class="i-des">
                                    <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                                    <p class="item-no">Item No: 84001341B</p>
                                    <p>
                                        Remark:
                                        <input class="remark-input" type="text" value="" />
                                    </p>
                                </div>
                                <div class="i-price">
                                    <span class="n-color price">
                                        $6.53
                                    </span>
                                    <del>$8.99</del>
                                </div>
                                <div class="i-q">
                                    <input type="number" value="88" class="form-control" data-original-number="88" />
                                </div>
                                <div class="i-g">
                                    <span class="gross">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-v">
                                    <span class="volume">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-a">
                                    <i class="icon-delete delete-item" data-type="order-item-delete"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-type="j-toggle-item">
                    <div class="list-item">
                        <div class="i-no">2</div>
                        <div class="i-img">
                            <a href="#">
                                <img src="../images/big-pic.jpg" />
                            </a>
                        </div>
                        <div class="i-des">
                            <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                            <p class="item-no">Item No: 84001341B</p>
                            <p>
                                Remark:
                                <input class="remark-input" type="text" value="" />
                            </p>
                        </div>
                        <div class="i-price">
                            <span class="n-color price">
                                $6.53
                            </span>
                            <del>$8.99</del>
                        </div>
                        <div class="i-q">
                            <input type="number" value="88" class="form-control" data-original-number="88" />
                        </div>
                        <div class="i-g">
                            <span class="gross">
                                0.560
                            </span>
                        </div>
                        <div class="i-v">
                            <span class="volume">
                                0.560
                            </span>
                        </div>
                        <div class="i-a">
                            <i class="icon-delete delete-item" data-type="order-item-delete"></i>
                        </div>
                    </div>
                </li>
                <li data-type="j-toggle-item">
                    <div class="list-item">
                        <div class="i-no">4</div>
                        <div class="i-img">
                            <a href="#">
                                <img src="../images/big-pic.jpg" />
                            </a>
                        </div>
                        <div class="i-des">
                            <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                        </div>
                        <div class="i-price">
                            <span class="n-color price">
                                $6.53
                            </span>

                        </div>
                        <div class="i-q">
                            <span class="items-count">
                                22
                            </span>
                        </div>
                        <div class="i-g">
                            <span class="gross">
                                0.560
                            </span>
                        </div>
                        <div class="i-v">
                            <span class="volume">
                                0.560
                            </span>
                        </div>
                        <div class="i-a delete-item">

                        </div>
                    </div>
                    <div class="bulk-items-wrap" data-type="order-bulk">
                        <div class="bi-left">
                            <a class="open" data-type="order-bulk-toggler">+</a>
                        </div>
                        <div class="bi-right si-wrap">
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                            <div class="bi-small">
                                <a href="#">
                                    <img src="../images/big-pic.jpg" />
                                </a>
                                <div>
                                    <a href="#">MLC-929-08A</a>
                                    <p>Qty:1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bulk-items-wrap" data-type="order-bulk" style="display: none;">
                        <div class="bi-left">
                            <a class="close" data-type="order-bulk-toggler">-</a>
                        </div>
                        <div class="bi-right">
                            <div class="list-item">
                                <div class="i-img">
                                    <a href="#">
                                        <img src="../images/big-pic.jpg" />
                                    </a>
                                </div>
                                <div class="i-des">
                                    <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                                    <p class="item-no">Item No: 84001341B</p>
                                    <p>
                                        Remark:
                                        <input class="remark-input" type="text" value="" />
                                    </p>
                                </div>
                                <div class="i-price">
                                    <span class="n-color price">
                                        $6.53
                                    </span>
                                    <del>$8.99</del>
                                </div>
                                <div class="i-q">
                                    <input type="number" value="88" class="form-control" data-original-number="88" />
                                </div>
                                <div class="i-g">
                                    <span class="gross">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-v">
                                    <span class="volume">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-a">
                                    <i class="icon-delete delete-item" data-type="order-item-delete"></i>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="i-img">
                                    <a href="#">
                                        <img src="../images/big-pic.jpg" />
                                    </a>
                                </div>
                                <div class="i-des">
                                    <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                                    <p class="item-no">Item No: 84001341B</p>
                                    <p>
                                        Remark:
                                        <input class="remark-input" type="text" value="" />
                                    </p>
                                </div>
                                <div class="i-price">
                                    <span class="n-color price">
                                        $6.53
                                    </span>
                                    <del>$8.99</del>
                                </div>
                                <div class="i-q">
                                    <input type="number" value="88" class="form-control" data-original-number="88" />
                                </div>
                                <div class="i-g">
                                    <span class="gross">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-v">
                                    <span class="volume">
                                        0.560
                                    </span>
                                </div>
                                <div class="i-a">
                                    <i class="icon-delete delete-item" data-type="order-item-delete"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="order-list">
                <li data-type="j-toggle-item">
                    <div class="mg20 alert alert-warning alert-dismissible fade in" role="alert">
                        Promotion: 20% Off 10+ Units. <a href="#" class="b-color"> More>></a> <span class="n-color">You only need to buy 8.00 Units more to enjoy the 20% off discount. </span>
                    </div>
                    <div class="list-item">
                        <div class="i-no">5</div>
                        <div class="i-img">
                            <a href="#">
                                <img src="../images/big-pic.jpg" />
                            </a>
                        </div>
                        <div class="i-des">
                            <a href="#" class="product-link">KJ-223 50pcs 1m USB Cable PVC Package Box (Customizable) - Rose Package Box</a>
                            <p class="item-no">Item No: 84001341B</p>
                            <p>
                                Remark:
                                <input class="remark-input" type="text" value="" />
                            </p>
                        </div>
                        <div class="i-price">
                            <span class="n-color price">
                                $6.53
                            </span>
                            <del>$8.99</del>
                        </div>
                        <div class="i-q">
                            <input type="number" value="88" class="form-control" data-original-number="88" />
                        </div>
                        <div class="i-g">
                            <span class="gross">
                                0.560
                            </span>
                        </div>
                        <div class="i-v">
                            <span class="volume">
                                0.560
                            </span>
                        </div>
                        <div class="i-a">
                            <i class="icon-delete delete-item" data-type="order-item-delete"></i>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="order-update-option" style="display:none;">
                <div class="update-des">
                    <span id="itemUpdateCount" class="n-color item-update-count"></span>
                    items changed
                </div>
                <div id="undoChange" class="btn btn-default btn-revoke"  data-trigger="confirm">
                    <i class="icon-revoke"></i>
                    Undo
                </div>
                <div class="btn btn-danger">
                    <i class="icon-apply"></i>
                    Apply
                </div>
            </div>

            <p class="show-toggle more" data-status="close">
                View more<span class="caret"></span>
            </p>
            <p class="show-toggle less hide">
                View less<span class="caret"></span>
            </p>
        </div>

        <div class="order-option">
            <h3 class="section-title">Order Option (*)</h3>
            <ul>
                <li class="order-option-item">
                    <h4>About color in shortage</h4>
                    <p>
                        If the color is in shortage, you have below four choices:
                        <select>
                            <option value="0">Please Choose </option>
                            <option value="1">Contact me at once</option>
                            <option value="2">Replace it by any other colors available and inform me</option>
                            <option value="3">Refund(for items in shortage) and inform me</option>
                            <option value="5">Convert to my balance and inform me</option>
                            <option value="4">See remarks</option>
                        </select>
                    </p>
                </li>
                <li class="order-option-item">
                    <h4>About goods in shortage</h4>
                    <p>
                        If the goods is in shortage, you have below four choices:
                        <select>
                            <option value="0">Please Choose </option>
                            <option value="1">Contact me at once</option>
                            <option value="2">Replace it by similar goods and inform me</option>
                            <option value="3">Refund(for items in shortage) and inform me</option>
                            <option value="5">Convert to my balance and inform me</option>
                            <option value="4">See remarks</option>
                        </select>
                    </p>
                </li>
                <li class="order-option-item">
                    <h4>About drop shipment</h4>
                    <p>
                        <input type="checkbox">
                        Drop Shipment? (If yes, we will not include TVC-MALL publicity materials/invoices etc when we send the goods.)
                    </p>
                </li>
            </ul>
        </div>

        <div class="order-coupon">
            <h3 class="section-title">Apply Coupon Code</h3>
            <div class="promotion-2">
                <div class="p-left">
                    <input class="form-control coupon-input" type="text" value="" />
                    <span class="btn btn-danger pl-apply">Apply</span>
                </div>
                <div class="p-right">
                    <p class="pr-des">
                        (Value of any item at discounted price will be excluded when calculating order value to use a coupon.
                        the effective value of your order to apply a coupon is USD 862.49)
                    </p>
                </div>
            </div>
            <div class="promotion-3">
                <div class="btn btn-info" data-toggle="modal" data-target="#applyDiscountModal">Apply for Discount</div>
            </div>
            <div class="promotion-1">
                <p>Please note: Any changes in the order before it’s paid may change the promotion or discount you’re enjoying now.</p>
                <p>● According to the promotion rules,$ 344.98 has been deducted from your order amount.</p>
            </div>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <span class="icon-web icon-gift" style="display:inline-block; vertical-align:middle;"></span>
                Your order is qualified for free gifts. Please click <a data-toggle="modal" data-target="#pickGiftModal" class="b-color">here</a> to choose your free gifts.
            </div>
            <table class="table">
                <tr>
                    <td>
                        <img class="product-img" src="../images/big-pic.jpg" />
                    </td>
                    <td>
                        <p class="product-title">ESCAM Diamond QF506 CCTV 720P WIFI IP Camera 2.8mm Wide Angle Lens IR 5m, Support P2P Onvif Two-way Audio - White / US Plug</p>
                        <p>sku:84001341F</p>
                        <p>Qty:10</p>
                    </td>
                    <td>
                        <span data-toggle="modal" data-target="#pickGiftModal" class="btn btn-default btn-info">Change</span>
                        <span class="btn btn-default">Cancel</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="order-remark">
            <h3 class="section-title">Extra requirement for the order</h3>
            <p class="or-des">Remark to the whole order: you could input extra requirement for the whole order in below column.</p>
            <textarea class="form-control remark-input" rows="5"></textarea>
        </div>

        <div class="order-bottom-price">
            <div class="obp-item">
                <div class="f-weight p-lable">Subtotal(20 items , 37 Pieces):</div>
                <div class="p-content">
                    USD - $
                    <span class="n-color f-weight">1240.19</span>
                </div>
            </div>
            <div class="obp-item">
                <div class="f-weight p-lable">Promotion:</div>
                <div class="p-content">
                    USD - $
                    <span class="n-color f-weight">- 344.98</span>
                </div>
            </div>
            <div class="obp-item">
                <div class="f-weight p-lable amount-lable">Amount: </div>
                <div class="p-content">
                    USD - $
                    <span class="n-color order-amount f-weight">88344.98</span>
                </div>
            </div>
            <div class="place-wrap">
                <a id="placeOrder" class="btn btn-danger">Place Your Order</a>
            </div>
        </div>
    </div>

    <div id="pickGiftModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Gift List</h4>
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <p>You may choose any item from below to be your gitfs.</p>
                <div class="gift-list">
                    <div class="gift-item">
                        <a href="#">
                            <img src="../images/big-pic.jpg" />
                        </a>
                        <p>
                            sku:
                            <a href="#">88888888F</a>
                        </p>
                        <p>
                            Qty:10
                        </p>
                        <p>
                            <span class="g-color">
                                free
                            </span>
                            <del>$3.88</del>
                        </p>
                        <a href="#" class="btn btn-danger">Add to Cart</a>
                    </div>
                    <div class="gift-item">
                        <a href="#">
                            <img src="../images/big-pic.jpg" />
                        </a>
                        <p>
                            sku:
                            <a href="#">88888888F</a>
                        </p>
                        <p>
                            Qty:10
                        </p>
                        <p>
                            <span class="g-color">
                                free
                            </span>
                            <del>$3.88</del>
                        </p>
                        <a href="#" class="btn btn-danger">Add to Cart</a>
                    </div>
                    <div class="gift-item">
                        <a href="#">
                            <img src="../images/big-pic.jpg" />
                        </a>
                        <p>
                            sku:
                            <a href="#">88888888F</a>
                        </p>
                        <p>
                            Qty:10
                        </p>
                        <p>
                            <span class="g-color">
                                free
                            </span>
                            <del>$3.88</del>
                        </p>
                        <a href="#" class="btn btn-danger">Add to Cart</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div id="applyDiscountModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">
                        Apply for Discount
                    </h4>
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="inner-wrap">
                    <p>( You could talk to your contact sales and apply at most 5% here, we will check and confirm)</p>
                    <p class="f-weight">Contact your Account Manager for further discount please.</p>
                    <form>
                        <div class="discount-input">
                            <label class="sr-only" for="inputDiscount">Discount:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputDiscount" placeholder="Discount">
                                <div class="input-group-addon">% off</div>
                            </div>
                        </div>
                        <label class="sr-only">Remark:</label>
                        <textarea class="form-control remark-input" rows="2"></textarea>
                        <div class="apply-wrap">
                            <button type="submit" class="btn btn-primary btn-apply">Apply for discount</button>
                            <a href="http://www.tvc-mall.com/HelpCenter/Support/discountscoupons.shtml" class="policy-link">See discount policy >> </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="order-footer">
        <div class="f-inner">
            © 2016 Shenzhen TVC-TECH Limited All Rights Reserved.
        </div>
        <div id="tvc-top">
            <i class="icon-top"></i>
        </div>
    </div>



    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/bootstrap-tab.js"></script>
    <script src="../js/bootstrap-modal.js"></script>
    <script src="../js/sco.message.js"></script>
    <script src="../js/jquery.pin.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/alert.js"></script>
    <script src="../js/icheck.min.js"></script>
    <script src="../js/pages/orderInfo.js"></script>
</body>
</html>
