<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap.css" rel="stylesheet" />
    <link href="../styles/pic-pay.css" rel="stylesheet" />
    <link href="../styles/pic-ship.css" rel="stylesheet" />
    <link href="../styles/modules/icheck-orange.css" rel="stylesheet" />
    <link href="../styles/pic-purchase.css" rel="stylesheet" />
    <link href="../styles/modules/icheck-orange.css" rel="stylesheet" />
    <link href="../styles/pic-payment.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="../styles/pages/payment-success.min.css" rel="stylesheet" />
</head>
<body id="paymentSuccess">
    <div class="order-header">
        <div class="header-inner">
            <a href="#" class="logo">
                <img src="../images/logo.png" />
            </a>
            <div class="order-pic-info pic-purchase purchase-3"></div>
        </div>
    </div>
    <div class="content">
        <div class="order-complete">
            <div class="oc-left">
                <i class="icon-checkmark2"></i>
            </div>
            <div class="oc-right">
                <h2>
                    Your order is paid successfully!
                </h2>
                <a href="#" class="btn btn-danger">
                    Back to home
                </a>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <td class="bg-grey">Order No</td>
                <td>
                    <a href="#">
                        V16012300007
                    </a>
                </td>
                <td class="bg-grey">Date(mm/dd/yyyy)</td>
                <td>01/23/2016</td>
            </tr>
            <tr>
                <td class="bg-grey">Customer</td>
                <td>Rob sun</td>
                <td class="bg-grey">Country/Region</td>
                <td>Malta</td>
            </tr>
            <tr>
                <td class="bg-grey">Total Gross Weight(KGS)</td>
                <td>
                    <span class="n-color">
                        0.073 kgs
                    </span>
                </td>
                <td class="bg-grey">Total Volume Weight(KGS)</td>
                <td>
                    <span class="n-color">
                        0.073 kgs
                    </span>
                </td>
            </tr>
            <tr>
                <td class="bg-grey">Sub Total</td>
                <td>
                    <span class="n-color">
                        $ 8.88
                    </span>
                </td>
                <td class="bg-grey">Preferential Price</td>
                <td>
                        $ 8.88
                </td>
            </tr>
            <tr>
                <td class="bg-grey">Balance Used</td>
                <td>
                    <span class="n-color">
                        $ 8.88
                    </span>
                </td>
                <td class="bg-grey">Cost of the Shipment</td>
                <td>
                    <span class="n-color">
                        $ 8.88
                    </span>
                </td>
            </tr>
            <tr>
                <td class="bg-grey">Transaction Fee</td>
                <td>
                    <span class="n-color">
                        $ 8.88
                    </span>
                </td>
                <td class="bg-grey">Total Cost</td>
                <td>
                    <span class="n-color">
                        $ 8.88
                    </span>
                </td>
            </tr>
            <tr>
                <td class="bg-grey">Delivery Address</td>
                <td colspan="3">
                    Contact Person:Rob sun<br>
                    Business Name :60000088@qq.com<br>
                    Address: sfda fasdfasdf<br>
                    Country/Region: Malta<br>
                    PostCode :  234254
                    <br>
                    Phone :
                    <br>
                    Fax: 
                </td>
            </tr>
            <tr>
                <td class="bg-grey">Payment</td>
                <td colspan="3">
                    <div class="pic-payment poli">
                    </div>
                    <p>The PayPal transaction fee of this order is 3.0% if and only if you pay with PayPal balance. Please make sure your balance is sufficient, otherwise the payment will fail.</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="order-footer">
        <div class="f-inner">
            © 2016 Shenzhen TVC-TECH Limited All Rights Reserved.
        </div>
        <div id="tvc-top">
            <i class="icon-top"></i>
        </div>
    </div>



    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/bootstrap-tab.js"></script>
    <script src="../js/bootstrap-modal.js"></script>
    <script src="../js/jquery.pin.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/alert.js"></script>
    <script src="../js/icheck.min.js"></script>
    <script src="../js/pages/payment.js"></script>
    <script src="../js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-select.js"></script>
    <script src="../js/bootstrap-collapse.js"></script>
</body>
</html>
