<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap.css" rel="stylesheet" />
    <link href="../styles/pages/product-reviews-list.min.css" rel="stylesheet" />
</head>
<body id="product-reviews-list">
    <!--header-->
    <header>
        <!--By Ajax-->
    </header>
    <!--location-->
    <div class="location">
        <ol>
            <li>
                Your position:
            </li>
            <li>
                <a href="#">Home</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">Mobile Accessories</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">Apple</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">iPhone 6s Plus 5.5-inch</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a class="active" href="#">Cases</a>
            </li>
        </ol>
    </div>
    <!--content-->
    <div class="content">
        <div class="p-info">
            <!--left aside-->
            <div class="aside-left">
                <a href="#" class="img-wrap img-fontmat">
                    <img src="../images/big-pic.jpg" />
                </a>
                <a href="#">
                    2.5D Glass Tempered Explosion-proof Screen Protector Film for iPhone 6 4.7 inch / 6s (Arc Edge)
                </a>
                <p class="n-color price">
                    $ 0.96
                </p>
                <p>
                    Item NO.: I6-710 MOQ: 1
                </p>
            </div>
            <!--right info-->
            <div class="info-right">
                <div class="tab-pane product-reviews">
                    <h3 class="content-title">
                        What Customers Said About This Product
                    </h3>
                    <div class="section">
                        <div class="star-number">
                            <p><span class="star-name">4-5 stars:</span><span class="bar"><em class="point" style="width:100%"></em></span> <span class="point-bar">100%</span></p>
                            <p><span class="star-name">3 stars:</span><span class="bar"><em class="point" style="width:0%"></em></span> <span class="point-bar">0%</span></p>
                            <p><span class="star-name">1-2 stars:</span><span class="bar"><em class="point" style="width:0%"></em></span> <span class="point-bar">0%</span></p>
                        </div>

                        <span class="rating-big">Overall Rating:</span>
                        <div class="star-img-big">
                            <span style="width: 30px">5 /5 </span>
                        </div>
                        <span class="rev-num">( based on 3 reviews )</span>
                    </div>
                    <!--reviews list-->
                    <ul class="reviews-list">
                        <li class="r-item">
                            <div class="user-info">
                                <a href="#" class="avatar">
                                    <img src="../images/t.jpg" />
                                </a>
                                <p class="user-name">cos***</p>
                                <p class="user-position">yidali</p>
                            </div>
                            <div class="r-info">
                                <p>Color : Black</p>
                                <div class="rating">
                                    <span class="start" style="width: 50%"></span>
                                </div>
                                <p class="r-content">haute qualité , bon travail!!!</p>
                                <p class="r-date">06/29/2015 20:06:14</p>
                                <div class="r-vote">
                                    <span class="tip-sorry">You have already send a helpful.</span>
                                    <a class="btn btn-default btn-sm">
                                        <span class="icon-web icon-praise"></span>
                                        useful(0)
                                    </a>
                                    <a class="btn btn-default btn-sm">
                                        <span class="icon-web icon-tread"></span>
                                        useless(0)
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="r-item">
                            <div class="user-info">
                                <a href="#" class="avatar">
                                    <img src="../images/t.jpg" />
                                </a>
                                <p class="user-name">cos***</p>
                                <p class="user-position">yidali</p>
                            </div>
                            <div class="r-info">
                                <p>Color : Black</p>
                                <div class="rating">
                                    <span class="start" style="width: 50%"></span>
                                </div>
                                <p class="r-content">haute qualité , bon travail!!!</p>
                                <p class="r-date">06/29/2015 20:06:14</p>
                                <div class="r-vote">
                                    <span class="tip-think">Thank you for voting.</span>
                                    <a class="btn btn-default btn-sm">
                                        <span class="icon-web icon-praise"></span>
                                        useful(0)
                                    </a>
                                    <a class="btn btn-default btn-sm">
                                        <span class="icon-web icon-tread"></span>
                                        useless(0)
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="r-item">
                            <div class="user-info">
                                <a href="#" class="avatar">
                                    <img src="../images/t.jpg" />
                                </a>
                                <p class="user-name">cos***</p>
                                <p class="user-position">yidali</p>
                            </div>
                            <div class="r-info">
                                <p>Color : Black</p>
                                <div class="rating">
                                    <span class="start" style="width: 50%"></span>
                                </div>
                                <p class="r-content">haute qualité , bon travail!!!</p>
                                <p class="r-date">06/29/2015 20:06:14</p>
                                <div class="r-vote">
                                    <a class="btn btn-default btn-sm">
                                        <span class="icon-web icon-praise"></span>
                                        useful(0)
                                    </a>
                                    <a class="btn btn-default btn-sm">
                                        <span class="icon-web icon-tread"></span>
                                        useless(0)
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <nav class="pagination-wrap">
                    <div class="page-count">
                        Pages: 1 / 37
                    </div>
                    <ul class="pagination pagination-sm">
                        <li class="disabled">
                            <a href="javascript:void(0);" aria-label="Previous">
                                <span aria-hidden="true"><</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li class="ellipsis">
                            <a href="javascript:void(0)">...</a>
                        </li>
                        <li>
                            <a href="#">37</a>
                        </li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <!--footer-->
    <footer class="footer">
        <!--By Ajax-->
    </footer>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.jqzoom-core.js"></script>
    <script src="../js/jquery.carouse.js"></script>
    <script src="../js/bootstrap-tab.js"></script>
    <script src="../js/jquery.lazyload.min.js"></script>
    <script src="../js/bootstrap-modal.js"></script>
    <script src="../js/jquery.pin.js"></script>
    <script src="../js/icheck.min.js"></script>
    <script>
        $(function () {
            $.get("share/header.html", function (html) {
                $("header").html(html);

                //顽固搜索
                $(".finder-button").click(function () {
                    $(".finder-button .icon-ctrl-down").toggleClass("icon-rotate");
                    $(".finder-panel").toggleClass("active");
                });
            });

            $.get("share/footer.html", function (html) {
                $("footer").html(html);
            });

            $('.jqzoom').jqzoom({
                zoomType: 'standard',
                lens: true,
                preloadImages: false,
                alwaysOn: false,
            });

            $('#images-slider').carousel({
                interval: false
            });

            $('#info-tab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })

            $("img.lazy").lazyload({
                effect: "fadeIn"
            });

            $(".tab-wrap").pin({
                containerSelector: ".info-right"
            })

            $("input[type='checkbox']").iCheck({
                checkboxClass: 'icheckbox_flat-orange',
                radioClass: 'iradio_flat-orange'
            });

            $(".aside-left").pin({
                containerSelector: ".p-info"
            })
        });
    </script>
</body>
</html>
