<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap.css" rel="stylesheet" />
    <link href="../styles/pages/product-detail.min.css" rel="stylesheet" />
    <link href="../styles/modules/jquery.jqzoom.css" rel="stylesheet" />
</head>
<body id="product-detail">
    <!--header-->
    <header>
        <!--By Ajax-->
    </header>
    <!--location-->
    <div class="location">
        <ol>
            <li>
                Your position:
            </li>
            <li>
                <a href="#">Home</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">Mobile Accessories</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">Apple</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">iPhone 6s Plus 5.5-inch</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a class="active" href="#">Cases</a>
            </li>
        </ol>
    </div>
    <!--content-->
    <div class="content">
        <div class="p-property">
            <div class="p-pictures">
                <div class="big-pic-wrap img-fontmat">
                    <a href="../images/big-pic.jpg" class="jqzoom">
                        <img src="../images/big-pic.jpg">
                    </a>
                </div>
                <div class="zoom-tip">
                    <i class="icon-search"></i>
                    Mouse over to zoom in
                </div>
                <div class="pics-slider-wrap">
                    <div id="images-slider" class="carousel slide images-slider">
                        <div class="carousel-inner">
                            <!--first list-->
                            <div class="item active">
                                <div class="images-block">
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                    <div class="ib-item select">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--second list-->
                            <div class="item">
                                <div class="images-block">
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                    <div class="ib-item">
                                        <a href="#">
                                            <img src="../images/br.jpg" />
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--left slide-->
                        <a class="slide-left icon-web icon-slider-left-sm" href="javascript:void(0)" onclick="$('#images-slider').carousel('prev');"></a>
                        <!--right slide-->
                        <a class="slide-right icon-web icon-slider-right-sm" type="sub" href="javascript:void(0)" onclick="$('#images-slider').carousel('next');"></a>
                    </div>
                </div>
                <div class="image-tips">
                    <span>views: 19</span>
                    <a href="#" class="view-all"> view all images</a>
                    <span>|</span>
                    <a class="down-images" href="#">Add to Download List</a>
                </div>
            </div>

            <div class="pp-detail">
                <div class="detail-header">
                    <p class="dh-title">
                        For Apple iPhone 6S case,ULAK Fashion Crystal CLEAR SLIM for iPhone 6/6S case
                        3H TPU case Soft Transparent case (4.7 inch)
                    </p>

                    <div class="rating-wrap">
                        <span class="r-lable">Rate:</span>
                        <div class="rating">
                            <span class="start" style="width: 90%"></span>
                        </div>
                        <span class="r-reviews">
                            <a href="#">(100 reviews)</a>
                        </span>
                    </div>

                    <div class="detail-tips">
                        <span class="tips-item">Item NO.: 11021742D</span>
                        <span class="tips-item">Ships in 1 - 3 days</span>
                        <span class="tips-item">MOQ: 1</span>
                    </div>
                </div>

                <div class="ppd-color-wrap">
                    <span class="lable c-lable">
                        Color:
                    </span>
                    <div class="color-block">
                        <a class="select" title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                        <a title="blue" href="#">
                            <img src="../images/pdt-color.jpg">
                        </a>
                    </div>
                </div>

                <div class="other-attributes">
                    <span class="lable">Plus:</span>
                    <div class="attributes-list">
                        <a class="attibutes-item" href="#">
                            AU Plus
                        </a>
                        <a class="attibutes-item select" href="#">
                            EdU Plus
                        </a>
                        <a class="attibutes-item" href="#">
                            EUf Plus
                        </a>
                        <a class="attibutes-item" href="#">
                            EU ePlus
                        </a>
                        <a class="attibutes-item" href="#">
                            EU aPlus
                        </a>
                    </div>
                </div>

                <div class="btn btn-default bulk-buy-btn">
                    Buy in bulk >
                </div>

                <div class="detail-item">
                    <span class="lable lable-price">Price:</span>
                    <div class="price-info">
                        <span class="new-price">$ 39.88</span>
                        <del class="old-price">$ 99.88</del>
                        <span>(38% OFF)</span>
                    </div>
                </div>

                <div class="detail-item">
                    <span class="lable lable-count">
                        Qty:
                    </span>
                    <div class="buy-count">
                        <a href="javascript:void(0);" class="icon-web icon-dec"></a>
                        <input class="count-input" type="text" value="1" />
                        <a href="javascript:void(0);" class="icon-web icon-add"></a>
                    </div>
                </div>

                <div class="ppd-buy-info">
                    <div>
                        <a href="#" class="btn btn-default add-cart">
                            <i class="icon-cart"></i>
                            Add to Cart
                        </a>
                        <a href="#" class="check-out">
                            CheckOut
                            <i class="icon-triangle-right"></i>
                        </a>
                    </div>
                    <p class="ship-info">
                        <span class="icon-web icon-air"></span>
                        Estimated Shipping Cost:
                        <span class="ship-price">$ 1.24</span>
                    </p>
                    <p>
                        (Ship to American Samoa via Regular Mail(No tracking)
                    </p>
                    <p>
                        <a href="javascript:void(0);" class="more-ship">
                            More Shipping Options
                        </a>
                        )
                    </p>


                    <div class="price-interval">
                        <div class="interval-tips">
                            <span class="tips-item">
                                Buy more, save more 
                            </span>
                            <span>Found lower price elsewhere?</span>
                            <a href="javascript:void(0);">Alert Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer class="footer">
        <!--By Ajax-->
    </footer>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/commen.js"></script>
    <script src="../js/jquery.jqzoom-core.js"></script>
    <script src="../js/jquery.carouse.js"></script>
    <script>

        $(function () {
            $.get("share/header.html", function (html) {
                $("header").html(html);

                //顽固搜索
                $(".finder-button").click(function () {
                    $(".finder-button .icon-ctrl-down").toggleClass("icon-rotate");
                    $(".finder-panel").toggleClass("active");
                });
            });

            $.get("share/footer.html", function (html) {
                $("footer").html(html);
            });

            $('.jqzoom').jqzoom({
                zoomType: 'standard',
                lens: true,
                preloadImages: false,
                alwaysOn: false,
            });

            $('#images-slider').carousel({
                interval: false
            });
        });
    </script>
</body>
</html>
