<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap.css" rel="stylesheet" />
    <link href="../styles/pages/product-inquery-list.min.css" rel="stylesheet" />
</head>
<body id="product-inquery-list">
    <!--header-->
    <header>
        <!--By Ajax-->
    </header>
    <!--location-->
    <div class="location">
        <ol>
            <li>
                Your position:
            </li>
            <li>
                <a href="#">Home</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">Mobile Accessories</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">Apple</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a href="#">iPhone 6s Plus 5.5-inch</a>
                <span class="l-arrow">>></span>
            </li>
            <li>
                <a class="active" href="#">Cases</a>
            </li>
        </ol>
    </div>
    <!--content-->
    <div class="content">
        <div class="p-info">
            <!--left aside-->
            <div class="aside-left">
                <a href="#" class="img-wrap img-fontmat">
                    <img src="../images/big-pic.jpg" />
                </a>
                <a href="#">
                    2.5D Glass Tempered Explosion-proof Screen Protector Film for iPhone 6 4.7 inch / 6s (Arc Edge)
                </a>
                <p class="n-color price">
                    $ 0.96
                </p>
                <p>
                    Item NO.: I6-710 MOQ: 1
                </p>
            </div>
            <!--right info-->
            <div class="info-right">
                <div class="tab-pane product-inquery" id="product-requery">
                    <textarea name="question" class="inquery-input-area" placeholder="Input your questions here"></textarea>
                    <div class="clearfix">
                        <a href="#" class="btn btn-default submit-inquery">Submit</a>
                    </div>
                    <h3 class="content-title">
                        All consultation information
                    </h3>
                    <ul class="inquery-list">
                        <li class="q-item">
                            <div class="user-info">
                                <a href="#" class="avatar">
                                    <img src="../images/t.jpg" />
                                </a>
                                <p class="user-name">cos***</p>
                                <p class="user-position">yidali</p>
                            </div>
                            <div class="r-info">
                                <div class="q-content-wrap">
                                    <span class="q-arrow-left"></span>
                                    <span class="f-weight">
                                        Q:
                                    </span>
                                    why so good。
                                    <p class="date-time">
                                        01/06/2016
                                    </p>
                                </div>
                                <div class="answer-wrap">
                                    <div class="answer-content">
                                        <span class="q-arrow-right"></span>
                                        <span class="f-weight">
                                            TVC:
                                        </span>
                                        <span class="n-color">
                                            hehe。
                                        </span>

                                        <p class="date-time">
                                            01/06/2016
                                        </p>
                                    </div>
                                    <div class="avatar-info">
                                        <img src="../images/logo.png" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="q-item">
                            <div class="user-info">
                                <a href="#" class="avatar">
                                    <img src="../images/t.jpg" />
                                </a>
                                <p class="user-name">cos***</p>
                                <p class="user-position">yidali</p>
                            </div>
                            <div class="r-info">
                                <div class="q-content-wrap">
                                    <span class="q-arrow-left"></span>
                                    <span class="f-weight">
                                        Q:
                                    </span>
                                    why so good。
                                    <p class="date-time">
                                        01/06/2016
                                    </p>
                                </div>
                                <div class="answer-wrap">
                                    <div class="answer-content">
                                        <span class="q-arrow-right"></span>
                                        <span class="f-weight">
                                            TVC:
                                        </span>
                                        <span class="n-color">
                                            hehe。
                                        </span>

                                        <p class="date-time">
                                            01/06/2016
                                        </p>
                                    </div>
                                    <div class="avatar-info">
                                        <img src="../images/logo.png" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="q-item">
                            <div class="user-info">
                                <a href="#" class="avatar">
                                    <img src="../images/t.jpg" />
                                </a>
                                <p class="user-name">cos***</p>
                                <p class="user-position">yidali</p>
                            </div>
                            <div class="r-info">
                                <div class="q-content-wrap">
                                    <span class="q-arrow-left"></span>
                                    <span class="f-weight">
                                        Q:
                                    </span>
                                    why so good。
                                    <p class="date-time">
                                        01/06/2016
                                    </p>
                                </div>
                                <div class="answer-wrap">
                                    <div class="answer-content">
                                        <span class="q-arrow-right"></span>
                                        <span class="f-weight">
                                            TVC:
                                        </span>
                                        <span class="n-color">
                                            hehe。
                                        </span>

                                        <p class="date-time">
                                            01/06/2016
                                        </p>
                                    </div>
                                    <div class="avatar-info">
                                        <img src="../images/logo.png" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <nav class="pagination-wrap">
                    <div class="page-count">
                        Pages: 1 / 37
                    </div>
                    <ul class="pagination pagination-sm">
                        <li class="disabled">
                            <a href="javascript:void(0);" aria-label="Previous">
                                <span aria-hidden="true"><</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li class="ellipsis">
                            <a href="javascript:void(0)">...</a>
                        </li>
                        <li>
                            <a href="#">37</a>
                        </li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <!--footer-->
    <footer class="footer">
        <!--By Ajax-->
    </footer>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.jqzoom-core.js"></script>
    <script src="../js/jquery.carouse.js"></script>
    <script src="../js/bootstrap-tab.js"></script>
    <script src="../js/jquery.lazyload.min.js"></script>
    <script src="../js/bootstrap-modal.js"></script>
    <script src="../js/jquery.pin.js"></script>
    <script src="../js/icheck.min.js"></script>
    <script>
        $(function () {
            $.get("share/header.html", function (html) {
                $("header").html(html);

                //顽固搜索
                $(".finder-button").click(function () {
                    $(".finder-button .icon-ctrl-down").toggleClass("icon-rotate");
                    $(".finder-panel").toggleClass("active");
                });
            });

            $.get("share/footer.html", function (html) {
                $("footer").html(html);
            });

            $('.jqzoom').jqzoom({
                zoomType: 'standard',
                lens: true,
                preloadImages: false,
                alwaysOn: false,
            });

            $('#images-slider').carousel({
                interval: false
            });

            $('#info-tab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })

            $("img.lazy").lazyload({
                effect: "fadeIn"
            });

            $(".tab-wrap").pin({
                containerSelector: ".info-right"
            })

            $("input[type='checkbox']").iCheck({
                checkboxClass: 'icheckbox_flat-orange',
                radioClass: 'iradio_flat-orange'
            });

            $(".aside-left").pin({
                containerSelector: ".p-info"
            })
        });
    </script>
</body>
</html>
