<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/modules/bootstrap.css" rel="stylesheet" />
    <link href="../styles/modules/icheck-orange.css" rel="stylesheet" />
    <link href="../styles/pages/regist.min.css" rel="stylesheet" />
</head>
<body id="regist">
    <header class="login-header">
        <div class="header-inner">
            <a href="#" class="logo">
                <img src="../images/logo.png" />
            </a>
            <ul class="h-right">
                <li>
                    <a class="hr-item" href="#">Home</a>
                </li>
                <li>
                    <a class="hr-item" href="#">New Arrivals</a>
                </li>
                <li>
                    <a class="hr-item" href="#">Bestselling</a>
                </li>
                <li>
                    <a class="hr-item" href="#">Brand Zone</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="top-section">
            <h2>Join TVC-Mall.com Free</h2>
            <p class="r-des">
                Welcome to TVC Mall. Please fill in the following blanks to complete registration. Registered customers can enjoy coupons, TVC points and other discounts on TVC Mall.More details
                <a href="http://www.tvc-mall.com/HelpCenter/Service/NewUserGuide.shtml">here</a>
            </p>
            <p>
                <i class="icon-triangle-right"></i>
                I've already registered. I want to
                <a href="#">get my password back</a>
                or
                <a href="#">login</a>
                .
            </p>
            <div class="main-section">
                <form class="regist-data">
                    <div class="d-row">
                        <div class="lable">
                            <span class="n-color">*</span>
                            Your Email:
                        </div>
                        <input type="text" value="" class="form-control d-input" />
                    </div>
                    <div class="d-row">
                        <div class="lable">
                            <span class="n-color">*</span>
                            Your Password:
                        </div>
                        <input type="password" value="" class="form-control d-input" />
                    </div>
                    <div class="d-row">
                        <div class="lable">
                            <span class="n-color">*</span>
                            Confirm Password:
                        </div>
                        <input type="password" value="" class="form-control d-input" />
                    </div>
                    <div class="d-row">
                        <div class="lable">
                            <span class="n-color">*</span>
                            Full Name:
                        </div>
                        <input type="text" value="" class="form-control d-input" />
                    </div>
                    <div class="d-row">
                        <div class="lable">
                            <span class="n-color">*</span>
                            How you know us:
                        </div>
                        <select class="selectpicker d-select" data-live-search="true" title="Please choose...">
                            <option value="Friends">Friends</option>
                            <option value="Google">Google</option>
                            <option value="Yahoo">Yahoo</option>
                            <option value="Bing">Bing</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Alibaba">Alibaba</option>
                            <option value="Globalsources">Globalsources</option>
                            <option value="Windowlive">Windowlive</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="d-row">
                        <div class="lable">
                            <span class="n-color">*</span>
                            Country/Region:
                        </div>
                        <select class="selectpicker d-select" data-live-search="true" title="Please choose...">
                            <option>Hot Doa Soda</option>
                            <option>Burga Smile</option>
                            <option>Suga nice</option>
                            <option>Baby Back Ribs</option>
                        </select>
                    </div>
                    <div class="d-row d-sex-wrap">
                        <div class="d-sex-item">
                            <input name="sex" type="radio" value="" />
                            <span class="s-lable">
                                Female
                            </span>
                        </div>
                        <div class="d-sex-item">
                            <input name="sex" type="radio" value="" checked />
                            <span class="s-lable">
                                Male
                            </span>
                        </div>
                    </div>
                    <p class="btm-des">
                        <input type="checkbox" value="" />
                        <span class="d-lable">Subscribe newsletter to get specials and deals.</span>
                    </p>
                    <p class="btm-des">
                        <input type="checkbox" value="" />
                        <span class="d-lable">I accept the TVC Terms of Use and Privacy Policy.</span>
                    </p>
                    <input type="submit" value="Create My Account" class="btn btn-default btn-success btn-submit" />
                </form>
                <div class="m-right">
                    <p class="f-weight">Already have an account?</p>
                    <div>
                        <a href="#" class="btn btn-info btn-sign">Sign in Securely</a>
                        <a href="#">Forgot your password?</a>
                    </div>
                    <div class="three-login">
                        <p class="login-des f-weight">You can also sign in with</p>
                        <div class="th-content">
                            <a class="c-item" href="#">
                                <span class="icon-web icon-yh"></span>
                            </a>
                            <a class="c-item" href="#">
                                <span class="icon-web icon-ms"></span>
                            </a>
                            <a class="c-item" href="#">
                                <span class="icon-web icon-paypal"></span>
                            </a>
                            <a class="c-item" href="#">
                                <span class="icon-web icon-fb"></span>
                            </a>
                        </div>
                    </div>
                    <p>
                        Business buyer?
                        <a href="#">Register a business account</a>
                    </p>
                    <div class="mr-row">
                        <p class="f-weight">Advantages of business account:</p>
                        <ul class="advantages">
                            <li>One-on-one service to your business.</li>
                            <li>Exclusive offers only for businesses.</li>
                            <li>eBay,Amazon data feeds and sharp non-watermark images.</li>
                            <li>Trend reports and analysis to aid your business.</li>
                            <li>More you could imagine and we would like to help with.</li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <footer class="login-footer">
        <div class="f-inner">
            © 2016 Shenzhen TVC-TECH Limited All Rights Reserved.
        </div>
    </footer>

    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/icheck.min.js"></script>
    <script src="../js/bootstrap-select.js"></script>
    <script src="../js/pages/regist.js"></script>
</body>
</html>
