<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/modules/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/common.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../styles/icon-web.css" rel="stylesheet" />
    <link href="../styles/pages/user-balance.min.css" rel="stylesheet" />

</head>
<body id="userBalance">
    <!--header-->
    <header>
        <!--By Ajax-->
    </header>

    <!--content-->
    <div class="content">
        <!--filter-->
        <div class="filter">
            <div class="products-filter-1">
                <h3 class="filter-title">
                    My Account
                </h3>
                <ul class="filter-items">
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">My Account</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">My Orders</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">My Profile</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">My Designs</a>
                    </li>
                    <li class="select">
                        <i class="icon-triangle-right"></i>
                        <a href="#">My Points & Balance</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">Change password</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">Items Out Of Stock</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">My Download List</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">Update Record List</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">My Reviews</a>
                    </li>
                    <li>
                        <i class="icon-triangle-right"></i>
                        <a href="#">Message</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--products list-->

        <div class="list-view">
            <div class="user-section">
                <div class="s-title">
                    My Points & Balance
                </div>
                <table class="table ">
                    <tr>
                        <th>points <=20</th>
                        <th>20< points <=50</th>
                        <th>50< points <=100</th>
                        <th>points >100</th>
                    </tr>
                    <tr>
                        <td>USD = points*1</td>
                        <td>USD = points*1.2</td>
                        <td>USD = points*1.5</td>
                        <td>USD = points*2.0</td>
                    </tr>
                </table>
            </div>

            <div class="user-section" style="margin-top: -30px;">
                <div class="tab-wrap">
                    <!--3 tabs-->
                    <ul id="info-tab" class="nav nav-pills">
                        <li role="presentation" class="active">
                            <a href="#myPoint" onclick="$('html, body').animate({ scrollTop: $('.tab-wrap').offset().top }, 200);">My Points</a>
                        </li>
                        <li role="presentation">
                            <a href="#myBalance" onclick="$('html, body').animate({ scrollTop: $('.tab-wrap').offset().top }, 200);">My Balance</a>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane active" id="myPoint">
                    <div class="top-section">
                        <div class="ts-des-left">
                            My current cumulative points:
                            <span class="n-color">0</span>
                        </div>
                        <div class="ts-des-right">
                            you will be rewarded with about 0 more points. 
                            <a href="#" class="btn btn-danger">
                                Go get it >>
                            </a>
                        </div>
                    </div>
                    <div class="top-bar">
                        Convert points to balance:
                        <input type="text" value="" class="form-control"/>
                        <input type="button" value="Convert" class="btn btn-danger"/>
                    </div>
                    <table class="table">
                        <tr>
                            <th>No.</th>
                            <th>Content</th>
                            <th>Points</th>
                            <th>Date(mm/dd/yyyy)</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>reward points of review on order V16012500018</td>
                            <td>0.5</td>
                            <td>05/04/2016</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>points of review on order V16012500018</td>
                            <td>0.5</td>
                            <td>05/04/2016</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>reward of review on order V16012500018</td>
                            <td>0.5</td>
                            <td>05/04/2016</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="myBalance">
                    <div class="top-section">
                        <div class="ts-des-left">
                            My current balance: 
                            <span class="n-color">USD 0</span>
                        </div>
                    </div>
                    <table class="table">
                        <tr>
                            <th>No.</th>
                            <th>Content</th>
                            <th>Balance</th>
                            <th>Date(mm/dd/yyyy)</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>reward points of review on order V16012500018</td>
                            <td>0.5</td>
                            <td>05/04/2016</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>points of review on order V16012500018</td>
                            <td>0.5</td>
                            <td>05/04/2016</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>reward of review on order V16012500018</td>
                            <td>0.5</td>
                            <td>05/04/2016</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer class="footer">
        <!--By Ajax-->
    </footer>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/bootstrap-tab.js"></script>
    <script src="../js/jquery.pin.js"></script>
    <script>

        $(function () {
            $.get("share/header.html", function (html) {
                $("header").html(html);

                //顽固搜索
                $(".finder-button").click(function () {
                    $(".finder-button .icon-ctrl-down").toggleClass("icon-rotate");
                    $(".finder-panel").toggleClass("active");
                });
            });

            $.get("share/footer.html", function (html) {
                $("footer").html(html);
                //滚动回到顶部
                $(window).scroll(function () {
                    if ($(window).scrollTop() > 0) {
                        $("#tvc-top").show();
                    } else {
                        $("#tvc-top").hide();
                    }
                });
                $("#tvc-top").click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 100);
                    return false;
                });
            });

            $('#info-tab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });

            $(".tab-wrap").pin({
                containerSelector: ".user-section"
            });
        });
    </script>
</body>
</html>
