@import "../modules/bootstrap";
@import "../partials/site-top-nav";
@import "../partials/site-search";
@import "../partials/site-main-nav";
@import "../partials/footer";
@import "../partials/cross-aside";
@import "../partials/location";
@import "../partials/products-filfer-1";

body#page-products-list {
    header {
        padding-top: 33px;
    }

    .content {
        width: @page-width;
        .center();
        display: flex;
        justify-content: space-between;

        .filter {
            width: 220px;
        }

        .products-view{ 
            width: 1090px;

            //评论数量
            .products-ratings{
                .size(100%, 50px);
                background-color: #f7f7f7;
            }
        }
    }
}
