@-webkit-keyframes icon-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@keyframes icon-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
.products {
  padding: 15px;
  width: 169px;
  height: 234px;
  position: relative;
}
.products img {
  text-align: center;
  width: 150px;
  height: 150px;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.products img:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.products .pro-title {
  width: 169px;
  height: 33px;
  overflow: hidden;
  line-height: 10px;
  text-align: left;
}
.products .pro-title a {
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.products .rating {
  width: 80px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  margin: 4px 0 0 2px;
  background: url(../../images/star.png) repeat-x scroll 0 -16px transparent;
}
.products .rating .start {
  display: block;
  height: 15px;
  text-indent: -9999px;
  background: url(../../images/star.png) repeat-x scroll 0 0 transparent;
}
.products .c-count {
  position: relative;
  bottom: 3px;
  font-size: 12px;
  display: inline-block;
}
.products .c-count:hover {
  text-decoration: underline;
}
.products .c-count:before {
  content: "( ";
}
.products .c-count:after {
  content: " )";
}
.products .price span:first-child {
  font-size: 12px;
  color: #8a8a8c;
}
.products .price span:last-child {
  font-size: 14px;
  color: #ea511b;
}
.products:hover {
  border-color: #fff;
  box-shadow: 0 0 15px #a0a0a0;
  z-index: 20;
}