@import "../mixins/common";
@import "../variables/common";


.site-nav {
    @height: 35px;
    @left-width: 400px;
    @right-width: 600px;

    .size(100%, @height);
    background-color: @nomal-bg-color;

    .sn-container {
        .size(@page-width, @height);
        .center-block();
        display: flex;
        justify-content: space-between;
        //顶部导航左侧和右侧
        .snc-left, .snc-right {
            display: flex;
            justify-content: space-between;
            .list-style();

            a {
                position: relative;
                display: block;
                .size(auto, 100%);
                .font(15px, #666666, @height);

                .icon-coin-dollar {
                    position: relative;
                    top: 1px;
                    color: @nomal-color;
                }

                .icon-triangle-down {
                    position: relative;
                    top: 2px;
                    right: 4px;
                }

                &:hover {
                    text-decoration: none;
                    color: @nomal-color;

                    .icon-triangle-down {
                        display: inline-block;
                        .rotate();
                    }
                }
            }
        }


        .snc-left {
            .size(@left-width, @height);
        }

        .snc-right {
            .size(@right-width, @height);

            .sncr-logout {
                margin-left: -25px;
            }

            .icon-cart {
                position: relative;
                top: 2px;
            }
        }

        .active {
            a {
                color: @nomal-color;
            }
        }
    }
}
