@import "../mixins/common";
@import "../variables/common";

//最顶部导航
.site-nav {
    @height: 32px;
    @left-width: 350px;
    @right-width: 630px;

    font: @light-font;
    .size(100%, @height);
    border-bottom: 1px solid @nomal-bg-color;
    background-color: #fff;

    .sn-container {
        .size(@page-width, @height);
        .center-block();
        display: flex;
        justify-content: space-between;
        //顶部导航左侧和右侧
        .snc-left, .snc-right {
            display: flex;
            justify-content: space-between;
            .list-style();


            li:hover {
                .sn-items {
                    text-decoration: none;
                    color: @nomal-color;

                    .icon-triangle-down {
                        display: inline-block;
                        .rotate();
                    }
                }
            }
            //顶部导航选项
            .sn-items {
                position: relative;
                display: block;
                padding: 0 0 0 6px;
                .size(auto, @height);
                font: @light-font;
                .font(15px, #000, @height + 1px);
                border: 1px solid;
                border-top: none;
                border-color: transparent;
                border-bottom-color: @nomal-bg-color;
                //调整图标位置
                .icon-language {
                    position: relative;
                    top: 2px;
                    font-size: 20px;
                }

                .icon-triangle-down {
                    position: relative;
                    top: 1px;
                    font-size: 14px;
                    right: 4px;
                }

                .icon-cart {
                    position: relative;
                    top: 1px;
                }
            }
        }

        .hover() {
            border-color: #fff @nomal-bg-color;
            background-color: #fff;
        }
        //感应层
        .pannel(@width, @height, @top, @left) {
            position: absolute;
            top: @top;
            left: @left;
            .size(@width, @height);
            border: 1px solid @nomal-bg-color;
            border-top: none;
            background-color: #fff;
            z-index: 2000;
        }
        //左侧
        .snc-left {
            .size(@left-width, @height);
            //语言
            .language {
                position: relative;
                //语言感应列表
                .language-items {
                    .pannel(140px, auto, @height + 1, 0);
                    display: none;
                    flex-direction: column;
                    justify-content: space-around;


                    .icon-triangle-right {
                        font-size: 14px;
                    }

                    a {
                        .font(15px, #000);
                        margin: 3px 5px;

                        &:hover {
                            color: @nomal-color;
                        }
                    }
                }

                &:hover {
                    .language-select {
                        .hover();
                    }

                    .language-items {
                        display: flex;
                    }
                }
            }
            //货币
            .currency {
                position: relative;
                //货币感应层
                .currency-items {
                    display: none;
                    justify-content: space-around;
                    .pannel(260px, auto, @height + 1, 0);

                    .curr-gj {
                        display: inline-block;
                        .size(16px, 12px);
                        background: url(../../images/flg.jpg);
                    }

                    ul {
                        li {
                            margin: 2px 0;

                            a {
                                .font(15px, #000);
                                &:hover {
                                    color: @nomal-color;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .currency-select {
                        .hover();
                    }

                    .currency-items {
                        display: flex;
                    }
                }
            }
        }
        //右侧
        .snc-right {
            .size(@right-width, @height);

            .sncr-logout {
                margin-left: -15px;
            }

            .icon-cart {
                position: relative;
                top: 2px;
            }
            //用户
            .user-login {
                position: relative;
                //用户操作感应层
                .user-option {
                    .pannel(140px, auto, @height + 1, 0);
                    display: none;
                    flex-direction: column;
                    justify-content: space-around;

                    a {
                        .font(14px, #000);
                        margin: 6px 10px;

                        &:hover {
                            color: @nomal-color;
                        }
                    }
                }

                &:hover {
                    .user-select {
                        .hover();
                    }

                    .user-option {
                        display: flex;
                    }
                }
            }
            //订单
            .order {
                position: relative;
                //订单感应层
                .order-content {
                    display: none;
                    .pannel(270px, auto, @height + 1, 0);
                    overflow: hidden;
                    padding-bottom: 10px;
                    //订单信息
                    .order-info {
                        padding: 5px 10px;
                        background-color: #fff;

                        .order-title {
                            .button(@nomal-font, 100%, 30px, #000, #fff, 6px);
                            font-size: 15px;
                            text-align: left;
                        }

                        .orange {
                            color: @nomal-color;
                        }

                        .btn {
                            font-size: 14px;
                            margin-top: 5px;
                            width: 91%;
                        }
                    }

                    .order-items {
                        display: flex;
                        justify-content: space-between;
                        font-size: 15px;
                        margin-top: 5px;


                        .commen() {
                            padding: 3px 0 0 5px;
                            width: 49%;
                        }

                        .order-items-title {
                            .commen();
                            background-color: @nomal-bg-color;
                        }

                        .order-items-value {
                            .commen();
                        }
                    }

                    .order-list-items {
                        display: flex;
                        justify-content: flex-start;
                        font-size: 15px;
                        text-indent: 7px;
                        margin-top: 5px;
                        border-bottom: 1px dotted @gray-darker;

                        .order-products-count {
                            min-width: 30%;
                            overflow: hidden;
                        }

                        .order-link {
                            color: #000;
                            &:hover{
                                color: @nomal-color;
                            }
                        }
                    }
                }

                &:hover {
                    .sn-items {
                        .hover();
                    }

                    .order-content {
                        display: block;
                    }
                }
            }
            //帮助
            .help {
                position: relative;
                //帮助感应列表
                .help-content {
                    .pannel(140px, auto, @height + 1, 0);
                    display: none;
                    flex-direction: column;
                    justify-content: space-around;


                    .icon-triangle-right {
                        font-size: 14px;
                    }

                    a {
                        .font(15px, #000);
                        margin: 3px 5px;

                        &:hover {
                            color: @nomal-color;
                        }
                    }
                }

                &:hover {
                    .help-select {
                        .hover();
                    }

                    .help-content {
                        display: flex;
                    }
                }
            }
        }

        .active {
            .sn-items {
                color: @nomal-color;
            }
        }
    }
}
